<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{Financeiro/LayoutFinanceiro}"
	xmlns:simed="http://simed.ajeffsoft.com"
	xmlns:data="http://www.thymeleaf.org/extras/data"	
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
<title>Receber conta</title> </head>

	<section layout:fragment="conteudo">

		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-10">
						<h1>Recebimento da conta: [[${contaReceber.documento}]]</h1>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">
						<p> <strong>Saldo a Receber R$: [[${{contaReceber.valor - contaReceber.valorRecebido}}]]</strong></p>
					</div>
				</div>

			</div>
		</div>

		<div class="container-fluid" >
			<form id="form" method="POST" th:object="${recebimento}" class="form-vertical  js-form-loading"
				th:action="@{/financeiro/recebimento/novo}">
			
			<sinte:message/>
			
			<input type="hidden" th:field="*{id}">
			<input type="hidden" th:value="${idContaReceber}" name="idContaReceber"/>
			<input type="hidden" th:field="*{contaReceber}">

				<div class="row">
					<div class="col-sm-2  form-group" sinte:classforerror="data">
						<label for="dataRecebido" class="control-label">Data*</label>
						<input id="dataRecebido" type="text" class="form-control  js-date" th:field = "*{data}" autocomplete="off"/>
					</div>

					<div class="col-sm-2  form-group" sinte:classforerror="valor">
						<label for="valor" class="control-label">Valor*</label>
						<div class="input-group">
							<input id="valor" type="text" class="form-control  js-decimal" th:field = "*{valor}"/>
							<div class="input-group-addon">R$</div>
						</div>
					</div>										

					<div class="col-sm-8  form-group" sinte:classforerror="contaEmpresa">
						<label for="contaBanco" class="control-label">Conta Bancária*</label>
						<select id="contaBanco" class="form-control" th:field="*{contaEmpresa}">
							<option value="">Selecione uma conta bancária</option>
							<option th:each="conta : ${contasBancos}" th:value="${conta.id}" th:text="${conta.nome}+' - '+${conta.empresa.fantasia} + ' - ' +  ${conta.agencia.banco.nome} +' - '+ ${conta.conta}"></option>
						</select>
					</div>	
				</div>
				
				<div class="form-group">
					<button class="btn  btn-success" type="submit">Receber</button>
					<a class="btn  btn-danger" sec:authorize-url="/financeiro/contaReceber/pesquisar" th:href="@{/financeiro/contaReceber/pesquisar}">Cancelar</a>
				</div>
			</form>
		</div>
	</section>

	<th:block layout:fragment="javascript-extra">
		<script type="text/javascript">
 			$(function (){
 				$('#form').validate();			
 			});  
 		</script> 
	
	<script th:src="@{/javascripts/validate/recebimentoConta.validate.js}"></script>			
	</th:block>	
</html>