<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{Financeiro/LayoutFinanceiro}"
	xmlns:data="http://www.thymeleaf.org/extras/data"	
	xmlns:simed="http://simed.ajeffsoft.com"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
	<title>Cadastro de movimentação</title>
</head>


	<section layout:fragment="conteudo">

		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-10">
						<h1 th:if="${movimentacao.novo}">Cadastro de movimentação</h1>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid">


			<form method="POST" th:object="${movimentacao}" class="form-vertical  js-form-loading" 
				th:action="@{/financeiro/movimentacao/novo}">
			
				<simed:message/>
			
				<input type="hidden" th:field="*{id}">
				<input type="hidden" th:field="*{dataFechamento}">
				<input type="hidden" th:field="*{saldoInicial}">
				<input type="hidden" th:field="*{totalCreditos}">
				<input type="hidden" th:field="*{totalDebitos}">
				<input type="hidden" th:field="*{saldoMovimento}">
				<input type="hidden" th:field="*{saldoGeral}">
				<input type="hidden" th:field="*{chequePendente}">
				<input type="hidden" th:field="*{fechado}">
				
				<div class="row">
					<div class="col-sm-8  form-group"  simed:classforerror="empresa">
						<label for="empresa" class="control-label">Empresa</label>
						<select id="empresa" class="form-control" th:field="*{empresa}">
							<option th:each="empresa : ${empresas}" th:value="${empresa.id}" th:text="${empresa.fantasia}"></option>
						</select>
					</div>
				
					<div class="col-sm-2  form-group" simed:classforerror="dataInicio">
						<label for="inicio" class="control-label">Inicio*</label>
						<input id="inicio" type="text" class="form-control  js-date" th:field = "*{dataInicio}" autocomplete="off"/>
					</div>

					<div class="col-sm-2  form-group" simed:classforerror="dataFinal">
						<label for="final" class="control-label">Final*</label>
						<input id="final" type="text" class="form-control  js-date" th:field = "*{dataFinal}" autocomplete="off"/>
					</div>
				</div>

				<div class="form-group">
					<button class="btn  btn-success" type="submit">Salvar</button>
					<a class="btn  btn-danger" th:href="@{/financeiro/movimentacao/pesquisar}">Voltar</a>
				</div>
		</form>
	</div>
	
</section>
</html>