<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:simed="http://simed.ajeffsoft.com"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	
	
<body>
<aside class="aw-layout-sidebar  js-sidebar" th:fragment="layout-sidebar">
	<div class="aw-layout-sidebar__content">

    	<nav class="aw-menu  js-menu">
      		<ul class="aw-menu__list">

        		<li class="aw-menu__item">
          			<a th:href="@{/}"><i class="fa  fa-fw  fa-home"></i><span>Inicio</span></a>
        		</li>
        		
				<li class="aw-menu__item">
          			<a href="#">
            			<i class="fa  fa-fw  fa-usd"></i><span>Contas a Pagar</span>
            			<i class="aw-menu__navigation-icon  fa"></i>
          			</a>
          			<ul class="aw-menu__list  aw-menu__list--sublist">
			            <li class="aw-menu__item  aw-menu__item--link" simed:menu="@{/financeiro/contaPagar}">
			            	<a th:href="@{/financeiro/contaPagar/pesquisar}">Contas a pagar</a>
			            </li>
			            
			            <li class="aw-menu__item  aw-menu__item--link" simed:menu="@{/financeiro/contaPagar}">
			            	<a th:href="@{/financeiro/contaPagar/autorizarConta}">Autorizar contas</a>
						</li>
						
						<li class="aw-menu__item  aw-menu__item--link" simed:menu="@{/financeiro/contaPagar}">
			            	<a th:href="@{/financeiro/contaPagar/relatorio}">Relatórios</a>
						</li>
          			</ul>
        		</li>        		
        		
				<li class="aw-menu__item" simed:menu="@{/financeiro/fornecedor}">
          			<a th:href="@{/financeiro/fornecedor/pesquisar}">
            			<i class="fa fa-truck"></i><span>Fornecedores</span>
          			</a>
        		</li>        		
        		
				<li class="aw-menu__item" simed:menu="@{/financeiro/pagamento}">
          			<a th:href="@{/financeiro/pagamento/pesquisar}">
            			<i class="fa  fa-fw  fa-credit-card"></i><span>Pagamentos</span>
          			</a>
        		</li>        		

				<li class="aw-menu__item" simed:menu="@{/financeiro/transferencia}">
          			<a th:href="@{/financeiro/transferencia/pesquisar}">
            			<i class="fa fa-calculator"></i><span>Transferencias</span>
          			</a>
        		</li>        		

				<li class="aw-menu__item" simed:menu="@{/financeiro/imposto}">
          			<a th:href="@{/financeiro/imposto/pesquisar}">
            			<i class="fa fa-recycle"></i><span>Impostos</span>
          			</a>
        		</li>        		
        		
        		<li class="aw-menu__item" simed:menu="@{/financeiro/contaReceber}">
          			<a th:href="@{/financeiro/contaReceber/pesquisar}">
            			<i class="fa  fa-fw  fa-money"></i><span>Contas a Receber</span>
          			</a>
        		</li>        		

				<li class="aw-menu__item" simed:menu="@{/financeiro/cliente}">
          			<a th:href="@{/financeiro/cliente/pesquisar}">
            			<i class="fa fa-briefcase"></i><span>Clientes</span>
          			</a>
        		</li>  
        		
        		<li class="aw-menu__item" simed:menu="@{/financeiro/extrato}">
          			<a th:href="@{/financeiro/extrato/selecionarConta}">
            			<i class="fa fa-bar-chart"></i><span>Extratos Bancários</span>
          			</a>
        		</li>        		

			
				<li class="aw-menu__item" simed:menu="@{/financeiro/movimentacao}">
          			<a th:href="@{/financeiro/movimentacao/pesquisar}">
            			<i class="fa fa-balance-scale"></i><span>Movimentações</span>
          			</a>
        		</li>        		


				<li class="aw-menu__item" simed:menu="@{/financeiro/planoConta}">
          			<a th:href="@{/financeiro/planoConta/pesquisar}">
            			<i class="fa fa-asterisk"></i><span>Planos de Conta</span>
          			</a>
        		</li>        		
 
          		
				<li class="aw-menu__item" simed:menu="@{/financeiro/agencia}">
          			<a th:href="@{/financeiro/agencia/pesquisar}">
            			<i class="fa fa-pencil"></i><span>Agencias Bancárias</span>
          			</a>
        		</li>        		


				<li class="aw-menu__item" simed:menu="@{/financeiro/banco}">
          			<a th:href="@{/financeiro/banco/pesquisar}">
            			<i class="fa fa-star"></i><span>Bancos</span>
          			</a>
        		</li>        		
      		</ul>
    	</nav>
	</div>
</aside>
</body>
</html>
