<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{Financeiro/LayoutFinanceiro}"
	xmlns:data="http://www.thymeleaf.org/extras/data"	
	xmlns:sinte="http://sintecoop.ajeffsoft.com"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head><title>Cadastro de conta a receber</title></head>


	<section layout:fragment="conteudo">

		<!-- CABEÇALHO DO CADASTRO -->
		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-10">
						<h1 th:if="${contaReceber.novo}">Cadastro de conta a receber</h1>
						<h1 th:unless="${contaReceber.novo}">Alterar a conta: [[${contaReceber.documento}]]</h1>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid">


			<form method="POST" th:object="${contaReceber}" class="form-vertical  js-form-loading" 
				th:action="${contaReceber.novo} ? @{/financeiro/contaReceber/nova} : @{/financeiro/contaReceber/{id}(id=${contaReceber.id})}">
			
				<sinte:message/>
			
				<input type="hidden" th:field="*{id}">
				<input type="hidden" th:field="*{status}">
				<input type="hidden" th:field="*{parcela}">
				<input type="hidden" th:field="*{dataRecebido}">
				<input type="hidden" th:field="*{valorRecebido}">
				<input type="hidden" th:field="*{anexo}">
				

				<div class="row">
				
					<div class="col-sm-3  form-group"  sinte:classforerror="empresa">
						<label for="empresa" class="control-label">Empresa</label>
						<select id="empresa" class="form-control" th:field="*{empresa}">
							<option th:each="empresa : ${empresas}" th:value="${empresa.id}" th:text="${empresa.fantasia}"></option>
						</select>
					</div>
				
					<div class="form-group  col-sm-7" sinte:classforerror="fornecedor" >
						<label class="control-label" for="nomeFornecedor">Cliente*</label>
						<div class="input-group">
					      <input id="nomeFornecedor" type="text" readonly="readonly" class="form-control" th:field="*{fornecedor.nome}"
					      			placeholder="Clique na lupa para pesquisar o cliente"/>
					      <input id="codigoFornecedor" type="hidden" th:field="*{fornecedor}"/>
					      <span class="input-group-btn">
					        <button class="btn  btn-default  js-tooltip" type="button" title="Pesquisa avançada"
					        		data-toggle="modal" data-target="#pesquisaRapidaFornecedor">
					        	<i class="glyphicon  glyphicon-search"></i>
					        </button>
					      </span>
					    </div>
					</div>
					
					<div class="col-sm-2  form-group">
						<label for="documentoFornecedor" class="control-label">CPF/CNPJ</label>
						<input id="documentoFornecedor" type="text" class="form-control" disabled="disabled"/>
					</div>
				</div>
				
				<div class="row">	
					<div class="col-sm-3  form-group"  sinte:classforerror="planoContaSecundaria.planoConta">
						<label for="planoConta" class="control-label">Conta Primária</label>
						<select id="planoConta" class="form-control" th:field="*{planoContaSecundaria.planoConta}">
								<option th:each="planoConta : ${planosConta}" th:value="${planoConta.id}" th:text="${planoConta.nome}"></option>
						</select>
					</div>

 					<div class="col-sm-9  form-group" sinte:classforerror="planoContaSecundaria">
						<label for="subPlanoConta" class="control-label">Conta Secundária*</label>
						<div class="bw-field-action">
							<input type = "hidden" id="inputHiddenSubPlanoContaSelecionado" th:value="*{planoContaSecundaria} != null ? *{planoContaSecundaria.id}">
							<select id="subPlanoConta" class="form-control" data:url="@{/financeiro/planoContaSecundaria}" th:field="*{planoContaSecundaria}">
							</select>

							<div class="bw-field-action__icon  js-img-loading" style="display: none">
								<img th:src="@{/images/mini-loading.gif}"/>
							</div>
						</div>  
					</div>
				</div>				
				
				<div class="row">
					<div>
						<div class="col-sm-12  form-group">
							<label for="historico" class="control-label">Histórico*</label>
							<textarea id="historico" class="form-control" th:field = "*{historico}" rows="3" maxlength="200"
								placeholder="Deixe em branco para descrição do histórico igual ao plano de conta secundária."></textarea>
						</div>
					</div>				
				</div>				
				
				
				
				
				<div class="row">
					<div class="form-group  col-lg-12">
						<ul class="nav nav-tabs  js-abas">
						  <li role="presentation" class="active"><a href="#dados">Dados</a></li>
						</ul>
					</div>
				</div>
			
				<div class="tab-content">
					<div class="tab-pane active" id="dados">
						<div class="row">
							<div class="col-sm-2  form-group" sinte:classforerror="documento">
								<label for="nota" class="control-label">Documento</label>
								<input id="nota" type="text" class="form-control" maxlength="17" th:field = "*{documento}" placeholder="Em branco para automático">
							</div>	

							<div class="col-sm-2  form-group" sinte:classforerror="dataEmissao">
								<label for="emissao" class="control-label">Emissão</label>
								<input id="emissao" type="text" class="form-control  js-date" th:field = "*{dataEmissao}" autocomplete="off"/>
							</div>
		
							<div class="col-sm-2  form-group" sinte:classforerror="vencimento">
								<label for="vencimento" class="control-label">Vencimento*</label>
								<input id="vencimento" type="text" class="form-control  js-date" th:field = "*{vencimento}" autocomplete="off"/>
							</div>
							
							<div class="col-sm-2  form-group" sinte:classforerror="valor">
								<label for="valor" class="control-label">Valor *</label>
								<div class="input-group">
									<input id="valor" type="text" class="form-control  js-decimal" th:field = "*{valor}"/>
									<div class="input-group-addon">R$</div>
								</div>
							</div>
							
							<div class="col-sm-2  form-group" sinte:classforerror="tipoDocumento">
								<label for="tipoDocumento" class="control-label">Tipo Documento*</label>
								<select id="tipoDocumento" class="form-control" th:field="*{tipoDocumento}">
									<option th:each="tipoDocumento : ${tiposDocumentos}" th:value="${tipoDocumento}" th:text="${tipoDocumento.descricao}"></option>
								</select>
							</div>							

							<div class="col-sm-2  form-group">
								<label for="parcelaNum" class="control-label">Parcelas nº</label>
								<input id="parcelaNum" type="text" class="form-control" maxlength="3" th:field = "*{totalParcela}">
							</div>
						</div>
					</div>
				</div>

				<div class="form-group">
					<button class="btn  btn-primary" type="submit">Salvar</button>
					<a class="btn  btn-default" sec:authorize-url="/financeiro/contaReceber/pesquisar" th:href="@{/financeiro/contaReceber/pesquisar}"> Cancelar e/ou voltar	</a>
				</div>
		</form>
	</div>
	
	<th:block th:replace = "Financeiro/cliente/PesquisaRapidaCliente :: pesquisaRapidaFornecedor"></th:block>
	
</section>

<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/vendors/handlebars.min.js}"></script>
	
	<script th:src="@{/javascripts/pesquisaRapida/fornecedor.pesquisa-rapida.js}"></script>
	<script th:src="@{/javascripts/pagar.combo-planoConta.js}"></script>

	<script>
	$(function() {
		$('.js-abas a').click(function (e) {
			e.preventDefault();
			$(this).tab('show');
		});
	});
	</script>
</th:block>

</html>