<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:simed="http://simed.ajeffsoft.com"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
<head>
	<link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/vendors.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/algaworks.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/application.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/satisfacao.css}"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<title>Pesquisa de Satisfação</title>

</head>
<body>

<div class="container-fluid  container-principal">
	<form method="GET" th:action="@{/satisfacao/novo}">
		<div class="row">
			<div >
				<div class="row  area-botao-iniciar">
					<div class="col-sm-11  form-group" align="right">

						<div class="load area-loading">
							<img alt="loading" th:src="@{/images/loading.gif}">
						</div>					
						<button id="iniciar" class="btn  btn-success botoes botao-iniciar" type="submit">Iniciar Pesquisa</button>
					</div>
				</div>	

				<div class="row  area-botao-logout">
					<div class="col-sm-11  form-group" align="left">
						<a class="btn  btn-danger  botao-logout botoes" th:href="@{/logout}">Logout</a>
					</div>
				</div>	
			</div>				
		</div>
	</form>
</div>

	<script th:src="@{/layout/javascripts/vendors.min.js}"></script>
	<script th:src="@{/layout/javascripts/algaworks.min.js}"></script>


	<script>
	    $(document).ready(function() {
  		  $('.load').hide();
  		  $('.botoes').show();
    	});
	 </script>	

	<script>
	    $('.botoes').click(function() {
  		  $('.load').show();
  		  $('.botoes').hide();
    	});
	 </script>

</body>
</html>
