<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:simed="http://simed.ajeffsoft.com"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	
	
<body>
<aside class="aw-layout-sidebar  js-sidebar" th:fragment="layout-sidebar">
	<div class="aw-layout-sidebar__content">

    	<nav class="aw-menu  js-menu">
      		<ul class="aw-menu__list">

        		<li class="aw-menu__item">
          			<a th:href="@{/}"><i class="fa  fa-fw  fa-home"></i><span>Inicio</span></a>
        		</li>
        		
        		<li class="aw-menu__item" simed:menu="@{/satisfacao/pergunta}">
          			<a th:href="@{/satisfacao/pergunta/pesquisar}">
            			<i class="fa fa-question"></i><span>Perguntas</span>
          			</a>
        		</li> 

        		<li class="aw-menu__item" simed:menu="@{/satisfacao/resposta}">
          			<a th:href="@{/satisfacao/resposta/pesquisar}">
            			<i class="fa fa-commenting-o"></i><span>Respostas</span>
          			</a>
        		</li> 

        		<li class="aw-menu__item" simed:menu="@{/satisfacao/questionario}">
          			<a th:href="@{/satisfacao/questionario/pesquisar}">
            			<i class="fa fa-question-circle"></i><span>Questionários</span>
          			</a>
        		</li> 

      		</ul>
    	</nav>
	</div>
</aside>
</body>
</html>
