<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sinte="http://sintecoop.ajeffsoft.com"
	xmlns:data="http://www.thymeleaf.org/extras/data"	
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	
</head>
	<section layout:fragment="conteudo">

		<th:block th:each="pergunta : ${perguntas}">				
			<form method="POST" th:object="${pergunta}" class="form-vertical  js-form-loading" th:action="@{/pergunta/novo}">	
				
				<div class="row">
					<div class="col-sm-12">
						<h1 th:text="${pergunta.questao.nome}"></h1>
						<input type = "hidden" name="idQuestao" th:value="${pergunta.questao.id}"/>
					</div>
				</div>
				
				<div class="row">
					<div class="form-group  col-sm-12">
						<input type="hidden" th:field="*{id}"/>
						<div>
	  						<div class="radio  radio-inline">
		    					<input id="ruim" type="radio" value="RUIM" th:field="*{resp}"/>
		    					<label for="ruim" >Ruim</label>
	    					</div>
	  						<div class="radio  radio-inline">
		    					<input  id="bom" type="radio" value="BOM" th:field="*{resp}"/>
		    					<label for="bom">Bom</label>
	    					</div>
	  						<div class="radio  radio-inline">
		    					<input  id="otimo" type="radio" value="OTIMO" th:field="*{resp}"/>
		    					<label  for="otimo">Ótimo</label>
	    					</div>
						</div>
					</div>					
				</div>
				
				
				
				<div class="row">
					<div class="col-sm-3 form-group">
						<button class="btn  btn-success " type="submit">Salvar Pesquisa</button>
					</div>
				</div>					
				
				
			</form>
	</th:block>
</section>
</html>
