<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:simed="http://simed.ajeffsoft.com"
	layout:decorate="~{Satisfacao/LayoutSatisfacaoSimples}"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
<head>
	<title>Pesquisa</title>
</head>
	<section layout:fragment="conteudo">
	
		<div class="container-fluid">
			<form method="POST" th:object="${pesquisa}" class="form-vertical  js-form-loading" th:action="@{/satisfacao/novo}">			
				<input type="hidden" th:field="*{id}"/>
				<input type="hidden" id="uuid" th:field="*{uuid}"/>
				
				<th:block th:each="pergunta, iterStat : ${todasPerguntas}" th:field="*{perguntas}">
					<h1 th:text="${pergunta.questao.nome}"></h1>
					
					************IMPLEMENTAR JS PARA OS RADIOS CHECKED E SALVAR 
					
					
					<div class="row">
						<div class="form-group  col-sm-12">
							<div>
		  						<div class="radio  radio-inline">
			    					<input id="ruim" type="radio" value="RUIM" th:name="${'r' + iterStat.count +1}"/>
			    					<label for="ruim" >Ruim</label>
		    					</div>
		  						<div class="radio  radio-inline">
			    					<input  id="bom" type="radio" value="BOM" th:name="${'r' + iterStat.count +1}"/>
			    					<label for="bom">Bom</label>
		    					</div>
		  						<div class="radio  radio-inline">
			    					<input  id="otimo" type="radio" value="OTIMO" th:name="${'r' + iterStat.count +1}"/>
			    					<label  for="otimo">Ótimo</label>
		    					</div>
							</div>
						</div>					
					</div>					
					
				</th:block>
				
				
				<div class="row">
					<div class="col-sm-3 form-group">
						<button class="btn  btn-success " type="submit">Salvar Pesquisa</button>
					</div>
				</div>								
			</form>
			
<!-- 			<div th:replace="Satisfacao/Pergunta :: pergunta">...</div> -->
		</div>

</section>
</html>
