<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sinte="http://sintecoop.ajeffsoft.com"
	xmlns:data="http://www.thymeleaf.org/extras/data"	
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	
</head>
<body>

	<div class="container-fluid  visible" th:fragment="questao">
		
		<th:block th:each="resposta, iterStat: ${respostas}">
			<div class="row">
				<div class="col-sm-12  form-group">
					<h1 class="text-justify  text-center  text-break  font-weight-bold  display-4" id="nomePergunta">[[${questao.nome}]]</h1>
					<input type="hidden" th:value="${questao.id}"/>							
				</div>
			</div>

			<div class="row">
				<div class="form-group  col-sm-12">
					<input type="hidden" th:value="${questao.id}"/>							
					<div>
  						<div class="radio  radio-inline">
	    					<input th:id="${'ruim'+iterStat.count+1}" type="radio" value="RUIM" th:field="*{resp}"/>
	    					<label th:for="${'ruim'+iterStat.count+1}" >Ruim</label>
    					</div>
  						<div class="radio  radio-inline">
	    					<input  th:id="${'bom'+iterStat.count+1}" type="radio" value="BOM" th:field="*{resp}"/>
	    					<label th:for="${'bom'+iterStat.count+1}">Bom</label>
    					</div>
  						<div class="radio  radio-inline">
	    					<input  th:id="${'otimo'+iterStat.count+1}" type="radio" value="OTIMO" th:field="*{resp}"/>
	    					<label  th:for="${'otimo'+iterStat.count+1}">Ótimo</label>
    					</div>
					</div>
				</div>					
			</div>
		</th:block>
	</div>
</body>
</html>
