<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sinte="http://sintecoop.ajeffsoft.com"
	xmlns:data="http://www.thymeleaf.org/extras/data"	
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	
</head>
<body>

	<div class="container-fluid  visible" th:fragment="questionario">
		
		<th:block th:each="questionario, iterStat: ${questionarios}">

		<div class="row  container-principal">
			<div class="questionario" th:id="'pergunta' + ${iterStat.count}" >

				<div class="row" style="margin-top: 70px; height: 150px">
					<div class="col-sm-12  form-group">
						<h1 class="text-justify  text-center  text-break  font-weight-bold  display-4" id="nomePergunta">[[${questionario.pergunta.nome}]]</h1>
						<input id="pergunta" type="hidden" th:value="${questionario.pergunta.id}"/>							
					</div>
				</div>
			
				<div class="row" style="height:200px;" >
					<div class="col-sm-1 form-group"></div>
					<div class="col-sm-10 form-group" style="margin-top: 50px;">
						
						<input data-radiocharm-background-color="C0392B" data-radiocharm-text-color="FFF" data-radiocharm-label="PÉSSIMO" type="radio">
						<input data-radiocharm-label="RUIM" data-radiocharm-background-color="D65548" data-radiocharm-text-color="FFF" type="radio">
						<input data-radiocharm-label="REGULAR" data-radiocharm-background-color="F1C40F" data-radiocharm-text-color="FFF" type="radio">
						<input data-radiocharm-label="BOM" data-radiocharm-background-color="2dca3a" data-radiocharm-text-color="FFF" type="radio">
						<input data-radiocharm-label="ÓTIMO" data-radiocharm-background-color="1b7923" data-radiocharm-text-color="FFF" type="radio">

					</div>

					<div class="col-sm-1 form-group"></div>
				</div>

				<div class="row" style="height: 170px;">
					<div class="col-sm-11  form-group  areaBotoes" align="right">
						<a class="btn  btn-success  btn-proximo" th:unless="${iterStat.last}" th:href="'#pergunta' + ${iterStat.count+1}"
							style="width: 226px; height: 74px; font-size: 2rem; border-radius: 15px">Próximo</a>							
						<a class="btn  btn-success  btn-incluir-questionario" th:if="${iterStat.last}" href="#critica"
							style="width: 226px; height: 74px; font-size: 2rem; border-radius: 15px">Próximo</a>							
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
