<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{Cooperado/LayoutCooperado}"
	xmlns:simed="http://simed.ajeffsoft.com"
	xmlns:data="http://www.thymeleaf.org/extras/data"	
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	
<head>
	<title>Pesquisar Dependentes</title>
</head>

<body>
	<section layout:fragment="conteudo">
		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-10">
						<h1>Pesquisar dependentes</h1>
					</div>
					
					<div class="col-sm-2">
						<div class="aw-page-header-controls">
							<a class="btn  btn-warning" th:href="@{/cooperado/dependente/novo}">
								<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Cadastrar</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<form method="GET" th:object="${dependenteFilter}">
				<div class="row">
					<div class="form-group  col-sm-5">
						<label class="control-label" for="nome">Nome</label>
						<input type="search" class="form-control" id="nome" th:field="*{nome}" autofocus="autofocus" maxlength="60"/>
					</div>


					<div class="col-sm-5 form-group">
						<label for="cooperado" class="control-label">Cooperado*</label>
						<select id="cooperado" class="form-control" th:field="*{cooperado}">
							<option value="">Todos os cooperados</option>
							<option th:each="cooperado : ${cooperados}" th:value="${cooperado.id}" th:text="${cooperado.nome}"></option>
						</select>
					</div>

					<div class="form-group  col-sm-2">
						<label class="control-label" for="cpf">CPF</label>
						<input type="text" class="form-control" id="documento1" th:field="*{cpf}" maxlength="20"/>
					</div>
				</div>	
			
				<div class="form-group">
					<button type="submit" class="btn  btn-primary">Pesquisar</button>
				</div>			
			</form>
		
			<br>
			
			<div class="table-responsive  bw-tabela-simples">
				<table class="table  table-hover">
					<thead>
						<tr>
							<th class="table-col-grande">
								<simed:order page="${pagina}" field="nome" text="Nome"/>
							</th>

							<th class="table-col-grande">
								<simed:order page="${pagina}" field="cooperado" text="Cooperado"/>
							</th>

							<th class="table-col-pequeno">
								<simed:order page="${pagina}" field="documento.cpf" text="CPF"/>
							</th>
							<th class="table-col-grande">Celular</th>

							<th class="table-col-pequeno">Imposto Renda</th>

							<th class="table-agencia-col-acoes"></th>
						</tr>
					</thead>
					
					<tbody>
						<tr th:each="dependente : ${pagina.conteudo}">
							<td th:text="${dependente.nome}"></td>
							<td th:text="${dependente.cooperado.nome}"></td>
							<td th:text="${dependente.documento.cpf}"></td>
							<td th:text="${dependente.celular}"></td>
							<td>
								<th:block th:if="${dependente.dependenteIR}">
									<span class="label  label-success">Sim</span>
								</th:block>

								<th:block th:unless="${dependente.dependenteIR}">
									<span class="label  label-danger">Não</span>
								</th:block>

							</td>							
							<td class="text-center">
								
								<a class="btn  btn-link  btn-xs  js-tooltip" title="Detalhes"
									th:href="@{/cooperado/dependente/detalhe/{id}(id=${dependente.id})}"> 
									<i class="glyphicon glyphicon-eye-open"></i>
								</a>							
								
								<a class="btn  btn-link  btn-xs  js-tooltip" title="Alterar"
										th:href="@{/cooperado/dependente/alterar/{id}(id=${dependente.id})}"> 
									<i class="glyphicon glyphicon-pencil"></i>
								</a>
								<a class="btn  btn-link  btn-xs js-tooltip  js-excluir-btn" title="Excluir"
									data:url="@{/cooperado/dependente/excluir/{id}(id=${dependente.id})}" data:objeto="${dependente.nome}">
									<i class="glyphicon glyphicon-trash"></i>
								</a>
							</td>
						</tr>
						
						<tr th:if="${pagina.vazia}">
							<td colspan="6"> Nenhum dependente encontrado</td>
						</tr>
						
						
					</tbody>
				</table>
			</div>

			<!-- COMPONENTE THYMELEAF PARA PAGINAÇÃO -->	
			<simed:pagination page="${pagina}"/>						

		</div>		
	</section>
</body>
</html>