<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{Cooperado/LayoutCooperado}"
	xmlns:simed="http://simed.ajeffsoft.com"
	xmlns:data="http://www.thymeleaf.org/extras/data"	
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	
<head>
	<title>Pesquisar cooperados excluídos</title>
</head>

<body>
	<section layout:fragment="conteudo">
		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-10">
						<h1>Pesquisar cooperados excluídos</h1>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<form method="GET" th:object="${cancelamentoFilter}">
				<div class="row">
				
					<div class="form-group  col-sm-2">
						<label class="control-label" for="registro">Registro</label>
						<input type="text" class="form-control" id="registro"  autofocus="autofocus" th:field="*{registro}" maxlength="20"/>
					</div>
										
					<div class="col-sm-6  form-group">
						<label for="cooperado" class="control-label">Cooperado*</label>
						<select id="cooperado" class="form-control" th:field="*{cooperado}">
							<option value="">Selecione um médico cooperado</option>
							<option th:each="cooperado : ${medicos}" th:value="${cooperado.id}" th:text="${cooperado.medico.nome}"></option>
						</select>
					</div>						

					<div class="form-group  col-sm-4">
						<label for="vencimentoInicio">Data</label>
						<div class="form-inline">
							<input type="text" class="form-control  aw-form-control-inline-sm  js-date" id="vencimentoInicio" 
								th:field="*{dataInicio}" autocomplete="off" placeholder="Data Inicial"/>
							<label for="vencimentoFim" class="aw-form-label-between">até</label>
							<input type="text" class="form-control  aw-form-control-inline-sm  js-date" id="vencimentoFim" 
								th:field="*{dataFim}" autocomplete="off" placeholder="Data Final"/>
						</div>
					</div>					
				</div>
				
					

				<div class="form-group">
					<button class="btn  btn-primary" type="submit">Pesquisar</button>
				</div>
			</form>
			
			<div class="table-responsive  bw-tabela-simples">
				<table class="table  table-hover" th:with="total=0">
					<thead>
						<tr>
							<th class="table-col-minima">
								<simed:order page="${pagina}" field="registro" text="Registro"/>
							</th>

							<th class="table-col-minima">
								<simed:order page="${pagina}" field="codigo" text="Código"/>
							</th>

							<th class="table-col-minima">Cooperado</th>

							<th class="table-col-grande">
								<simed:order page="${pagina}" field="data" text="Data"/>
							</th>

							<th class="table-col-grande">
								<simed:order page="${pagina}" field="data" text="Cancelado"/>
							</th>
	
							<th class="table-col-grande">Status</th>

							<th class="table-agencia-col-acoes"></th>
						</tr>
					</thead>
					
					<tbody>
						<tr th:each="cooperado : ${pagina.conteudo}">
							<td th:text="${cooperado.registro}"></td>
							<td th:text="${cooperado.codigo}"></td>
							<td th:text="${cooperado.medico.nome}"></td>
							<td th:text="${{cooperado.data}}"></td>
							<td th:text="${{cooperado.dataCancelamento}}"></td>

							<td>
								<th:block th:if="${cooperado.ativo}">
									<span class="label  label-success">Ativo</span>
								</th:block>

								<th:block th:unless="${cooperado.ativo}">
									<span class="label  label-danger">Inativo</span>
								</th:block>
							</td>

							<td class="text-center">
								<a class="btn  btn-link  btn-xs  js-tooltip" title="Detalhes" sec:authorize-url="/cooperado/cooperado/detalhe/**"
										th:href="@{/cooperado/cooperado/detalhe/{id}(id=${cooperado.id})}"> 
									<i class="glyphicon glyphicon-eye-open"></i>
								</a>

								<a class="btn  btn-link  btn-xs js-tooltip  js-excluir-btn" title="Excluir"	data:url="@{/cooperado/cooperado/excluir/{id}(id=${cooperado.id})}"
									data:objeto="${cooperado.registro}" th:if="${cooperado.ativado}">
									<i class="glyphicon glyphicon-trash"></i>
								</a>
							</td>
						</tr>
						
						<tr th:if="${pagina.vazia}">
							<td colspan="7"> Nenhum registro encontrado</td>
						</tr>

					</tbody>
				</table>
			</div>

			<simed:pagination page="${pagina}"/>						

		</div>		
	</section>
	
<th:block layout:fragment="javascript-extra">
</th:block>	
</body>
</html>