<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{Cooperado/LayoutCooperado}"
	xmlns:simed="http://simed.ajeffsoft.com"
	xmlns:data="http://www.thymeleaf.org/extras/data"	
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	
<head>
	<title>Pesquisar demissões</title>
</head>

<body>
	<section layout:fragment="conteudo">
		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-10">
						<h1>Pesquisar demissões de cooperados</h1>
					</div>

					<div class="col-sm-2" >
						<div class="aw-page-header-controls">
							<a class="btn  btn-warning" th:href="@{/cooperado/demissao/novo}">
								<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Cadastrar</span>
							</a>
						</div>
					</div>
					
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<form method="GET" th:object="${demissaoFilter}">
				<div class="row">
				
					<div class="col-sm-6  form-group">
						<label for="cooperado" class="control-label">Cooperado</label>
						<select id="cooperado" class="form-control" th:field="*{cooperado}">
							<option value="">Selecione um cooperado</option>
							<option th:each="admissao : ${admissoes}" th:value="${admissao.id}" th:text="${admissao.cooperado.nome}"></option>
						</select>
					</div>	
					
					<div class="col-sm-2  form-group">
						<label for="tipo" class="control-label">Tipo</label>
						<select id="tipo" class="form-control" th:field="*{cooperado}">
							<option value="">Selecione...</option>
							<option th:each="tipo : ${tipos}" th:value="$tipo}" th:text="${tipo}"></option>
						</select>
					</div>	
										
					

					<div class="form-group  col-sm-4">
						<label for="vencimentoInicio">Data</label>
						<div class="form-inline">
							<input type="text" class="form-control  aw-form-control-inline-sm  js-date" id="vencimentoInicio" 
								th:field="*{dataInicio}" autocomplete="off" placeholder="Data Inicial"/>
							<label for="vencimentoFim" class="aw-form-label-between">até</label>
							<input type="text" class="form-control  aw-form-control-inline-sm  js-date" id="vencimentoFim" 
								th:field="*{dataFim}" autocomplete="off" placeholder="Data Final"/>
						</div>
					</div>					
				</div>
				
					

				<div class="form-group">
					<button class="btn  btn-primary" type="submit">Pesquisar</button>
				</div>
			</form>
			
			<div class="table-responsive  bw-tabela-simples">
				<table class="table  table-hover" th:with="total=0">
					<thead>
						<tr>
							<th class="table-col-minima">
								<simed:order page="${pagina}" field="data" text="Data"/>
							</th>

							<th class="table-col-grande">
								<simed:order page="${pagina}" field="admissao.cooperado" text="Cooperado"/>
							</th>

							<th class="table-col-minima">
								<simed:order page="${pagina}" field="tipoDemissao" text="Tipo"/>

							</th>
							<th class="table-col-grande">
								<simed:order page="${pagina}" field="observacao" text="Motivo"/>
							</th>

							<th class="table-agencia-col-acoes"></th>
						</tr>
					</thead>
					
					<tbody>
						<tr th:each="demissao : ${pagina.conteudo}">
							<td th:text="${{demissao.data}}"></td>
							<td th:text="${demissao.admissao.cooperado.nome}"></td>
							<td th:text="${demissao.tipoDemissao}"></td>
							<td th:text="${demissao.observacao}"></td>

							<td class="text-center">
<!-- 								<a class="btn  btn-link  btn-xs  js-tooltip" title="Detalhes" sec:authorize-url="/financeiro/contaPagar/detalheConta/**" -->
<!-- 										th:href="@{/financeiro/contaPagar/detalheConta/{id}(id=${contaPagar.id})}">  -->
<!-- 									<i class="glyphicon glyphicon-eye-open"></i> -->
<!-- 								</a> -->

								<a class="btn  btn-link  btn-xs js-tooltip  js-excluir-btn" title="Excluir"	data:url="@{/cooperado/demissao/excluir/{id}(id=${demissao.id})}"
									data:objeto="${demissao.admissao.cooperado.nome}" th:unless="${demissao.admissao.cooperado.ativo}">
									<i class="glyphicon glyphicon-trash"></i>
								</a>
							</td>
						</tr>
						
						<tr th:if="${pagina.vazia}">
							<td colspan="5"> Nenhuma demissao encontrada</td>
						</tr>

					</tbody>
				</table>
			</div>

			<!-- COMPONENTE THYMELEAF PARA PAGINAÇÃO	 -->
			<simed:pagination page="${pagina}"/>						

		</div>		
	</section>
	
<th:block layout:fragment="javascript-extra">
</th:block>	
</body>
</html>