

.centered {
    margin: 0 auto !important;
    float: none !important;
}


.backgroundImage-fim{
	background-image: url('/simed/images/background2.png');
}


.container-principal {
	padding: 0px;
	margin: 0px;
	height:600px; 
	width:1200px;
}

.container-pergunta {
    margin: 15px;
    width: 1170px;
    height: 570px;
}

.area-botao-iniciar{
	height:100px; 
	margin-top:400px;
}

.botao-iniciar {
	width:356px;
	height:124px;
	font-size:2rem; 
	border-radius:20px
}

.area-loading {
	width: 200px;
	height: 190px;
	position: absolute;
	top: 0%;
	left: 70%;
	color: blue;
}

.area-botao-logout {
	height:50px; 
	margin-top:50px;
}

.botao-logout {
	width:72px;
	height:32px;
	border-radius:20px
}

.btn-proximo {
	width:226px; 
	height:74px;
	font-size:3rem;
	border-radius:15px
}

.area-pergunta-botao {
	height: 285px;
	margin-left: 0px;
	margin-right: 0px;
}