body {
	background-color: black;
	adding-bottom: 0px;
}

.css-container-principal{
	background-color: green;
}

form {
	background-color: yellow;
}

.questao{
	background-color: red;
}

.nomeQuestao {
	margin-bottom:130px;
}

.questionario {
	margin-bottom:130px;
}

.botoes {
	margin-bottom:100px;
}