/*
######################
# UTILIDADES
######################
*/
.bw-glyphicon-large {
	font-size: 18px;
}

.bw-required > .control-label:after{
	content:"*"
}

.menu-principal {
	font-size: 100px;
	height: 100px;
}

/*
######################
# COMPONENTES
######################
*/

.error {
	color: red;
}

.logo_login {
	color: red;
}

/* Field Action */
.bw-field-action {
	display: flex;
}

.bw-field-action__icon {
	margin: 5px;
}

.bw-field-action_button {
	margin: 20px;
}


/* Upload */
.bw-upload {
	padding: 5px;
	
	border: 1px dashed #ddd;
	border-radius: 4px;
	background: #fafafa;
	
	text-align: center;
}

.bw-upload-form-file {
	display: inline-block;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
    margin-bottom: 1px;
}

.bw-upload-form-file > input[type=file] {
	position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    opacity: 0;
    cursor: pointer;
    
    font-size: 500px;
}

/*
######################################
# CUSTOMIZAÇÃO DE COMPONENTES
######################################
*/

.checkbox input[type="checkbox"]:checked + input + label::after {
    font-family: 'FontAwesome';
    content: "\f00c"; 


/* Colunas - Pesquisa*/

.table-col-minima{
	width: 50px;
}

.table-col-pequena{
	width: 100px;
}

.table-col-media{
	width: 150px;
}

.table-col-grande{
	width: 200px;
}

.table-col-gigante{
	width: 300px;
}