<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pesquisa</title>

    <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/vendors/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/vendors/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/simed-pesquisa.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body >
    <div class="container-fluid card">
        <img th:src="@{/images/PerguntaImg.png}" alt="Imagem Perguntas">
       
        <form method="POST" th:object="${pesquisa}" class="form-vertical" th:action="@{/satisfacao/pesquisa/novo}">
        	<input type="hidden" th:field="*{id}"/>
	            
            <th:block th:each="item, iterStat : ${itens}" th:field="*{itens}">

	        	<div class="iteration  col-sm-12  card-img-overlay  flex-column  d-none" th:id="'questao' + ${iterStat.count}">

		            <div class="row" id="divPergunta">
		                <div class="col-sm-2 d-flex justify-content-around  align-items-center">
		                	<a  class="btn btn-success rounded-circle btn-lg" th:href="@{/satisfacao/pesquisa/inicio}">?</a>
		                </div>
		                <div class="div-pergunta text-justify  text-center  font-weight-bold col-sm-10 d-flex justify-content-center  align-items-center">
		                    
		                    <input type="hidden" th:id="'perg'+${iterStat.count}" class="questaoId" name="idQuestao" th:value="${item.questionario.id}"/>
		                    <input type="hidden" th:id="'resp'+${iterStat.index}" class="respostaId" name="idResposta"/>

		                    <h1 th:text="${item.questionario.pergunta.nome}"></h1>
		                </div>
		            </div>
		
		            <div class="row" id="divResposta">
		                <div class="div-pergunta col-sm-2 d-flex justify-content-around  align-items-center">
		                </div>
		                <div class="iteration2 div-resposta col-sm-10 d-flex justify-content-center  align-items-center">
				            <th:block  th:each="resposta, iter : ${item.questionario.respostas}" th:field="*{resposta}">
			                    <div>
			                        <input type="radio" th:id="'resp'+${iter.count} + ${iterStat.count}" class="radio" th:value="${resposta.id}" th:field="*{pesquisaItens}" checked="checked">
			                        <label th:for="'resp'+${iter.count} + ${iterStat.count}" th:text="${resposta.nome}">Péssimo</label>
			                    </div>
							</th:block>
		                </div>
		            </div>
					
		            <div class="row" id="divBotao">
		                <div class="col-sm-1 d-flex justify-content-around  align-items-center">
		                </div>
		                <div class="div-btn-proximo col-sm-11 d-flex justify-content-end  align-items-center" th:id="'div'+${iterStat.index}">
		                
		                    <button th:id="'botao'+${iterStat.count}" type="button" class="btn btn-success rounded-pill btn-lg-satisfacao" th:unless="${iterStat.last}">PRÓXIMO</button>
		                    <button th:id="'botao'+${iterStat.count}" type="submit" class="btn btn-success rounded-pill btn-lg-satisfacao btn-finalizar" th:if="${iterStat.last}">FINALIZAR A PESQUISA</button>
		                    
		                </div>
		            </div>
		        </div>
			</th:block>
		            
	    </form>    
    </div>
    <script th:src="@{/javascripts/vendors/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/javascripts/vendors/bootstrap.bundle.min.js}"></script>
    
    <script type="text/javascript">
		 $(function(){
			 $('#questao1').removeClass('d-none');
			 $('#questao1').addClass('ative');

		 });
		 
		 $('.iteration').each(function(index, element) {
			 $('#botao'+index).click(function(){
				 $('#questao'+index).addClass('d-none');
				 $('#questao'+index).removeClass('ative');
				 
  				 var newIndex = index + 1;
				 $('#questao'+newIndex).removeClass('d-none');
				 $('#questao'+newIndex).addClass('ative');

			 })
		});
    </script>
   
    
    <script>
    	$(function(){
	
    		var iter = $('.iteration');
			iter.each(function(i,e){
	         	var btn = $(e).find('button');
	         		btn.click(function(){
						var resposta;
		         		var inputResp = $(e).find(".respostaId");
						
						if($(e).find(".radio:checked")){
							var radio = $(e).find(".radio:checked");
							resposta = radio.val();
			         		var id = $(e).find(".questaoId");
							var questao = id.val();
						}
						
						if (typeof resposta === 'undefined'){
							resposta = 11;
						}

		         		inputResp.val(resposta);

// 		         		Evitar de clicar mais de uma vez
		         		if(btn.hasClass("btn-finalizar")){
			        		$(this).one("click", function(){
			       			 	$(this).prop('disabled', true);
			       			});
		         		}
				 })
			});
    	});
	</script>

    
</body>
</html>