<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pesquisa</title>

    <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/vendors/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/simed-pesquisa.css}">
</head>
<body >
    <div class="container-fluid card">
    	<form method="GET" th:action="@{/satisfacao/pesquisa/novo}">
	        <img th:src="@{/images/InicioImg.png}" alt="Imagem Inicio">
	        <div class="col-sm-12  card-img-overlay  d-flex">
	            <div class=" col-sm-6 d-flex justify-content-start  align-items-end" >
	                <a  class="btn btn-success rounded-circle" th:href="@{/logout}">?</a>
	            </div>
	            <div class="div-btns col-sm-6 d-flex justify-content-center  align-items-center" >
	                <button type="submit" class="btn btn-success btn-lg-satisfacao  rounded-pill">INICIAR A PESQUISA</button>
	            </div>
	        </div>
	   </form>     
    </div>
 
    <script th:src="@{/javascripts/vendors/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/javascripts/vendors/bootstrap.bundle.min.js}"></script>
</body>
</html>