<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/simed-pesquisa.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body >
    <div class="container-fluid card" style="background-color: black;">
        <img src="images/PerguntaImg.png" alt="Imagem Perguntas">
        <div class="col-sm-12  card-img-overlay  flex-column">
            
            <div class="row">
                <div class="div-pergunta col-sm-2 d-flex justify-content-around  align-items-center">
                </div>
                <div class="div-pergunta text-justify  text-center  font-weight-bold col-sm-10 d-flex justify-content-center  align-items-center">
                    <h1>Como você avalia o meu atendimento?</h1>
                </div>
            </div>

            <div class="row">
                <div class="div-pergunta col-sm-2 d-flex justify-content-around  align-items-center">
                </div>
                <div class="div-resposta col-sm-10 d-flex justify-content-center  align-items-center">
                    <div>
                        <input type="radio" id="control_01" name="select" value="1" checked>
                        <label for="control_01">
                          <h2>Péssimo</h2>
                        </label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-1 d-flex justify-content-around  align-items-center">
                </div>
                <div class="div-btn-proximo col-sm-11 d-flex justify-content-end  align-items-end">
                    <button type="button" class="btn btn-success rounded-pill btn-lg-satisfacao">PRÓXIMO</button>
                </div>
            </div>
        </div>
    </div>
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>