<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{Cooperado/LayoutCooperado}"
	xmlns:simed="http://simed.ajeffsoft.com"
	xmlns:data="http://www.thymeleaf.org/extras/data"	
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	
<head>
	<title>Pesquisar Diretorias</title>
</head>

<body>
	<section layout:fragment="conteudo">
		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-10">
						<h1>Pesquisar diretorias</h1>
					</div>
					
					<div class="col-sm-2" sec:authorize-url="/cooperado/diretoria/nova">
						<div class="aw-page-header-controls">
							<a class="btn  btn-warning" th:href="@{/cooperado/diretoria/nova}">
								<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Cadastrar</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<form method="GET" th:object="${diretoriaFilter}">
				<div class="row">
					<div class="form-group  col-sm-10">
						<label class="control-label" for="descricao">Descrição</label>
						<input type="search" class="form-control" id="descricao" th:field="*{descricao}" autofocus="autofocus" maxlength="60"/>
					</div>

					<div class="form-group  col-sm-2">
						<label class="control-label" for="chapa">Chapa</label>
						<input type="search" class="form-control" id="chapa" th:field="*{chapa}" maxlength="100"/>
					</div>
				</div>	
				
				<div class="form-group">
					<button type="submit" class="btn  btn-primary">Pesquisar</button>
				</div>			
			</form>
		
			<br>
			
			<div class="table-responsive  bw-tabela-simples">
				<table class="table  table-hover">
					<thead>
						<tr>
							<th class="table-col-pequeno">
								<simed:order page="${pagina}" field="chapa" text="Chapa"/>
							</th>

							<th class="table-col-grande">
								<simed:order page="${pagina}" field="descricao" text="Descrição"/>
							</th>

							<th class="table-col-grande">
								<simed:order page="${pagina}" field="dataFinal" text="Final"/>
							</th>

							<th class="table-col-pequeno">Vencedor</th>

							<th class="table-agencia-col-acoes"></th>
						</tr>
					</thead>
					
					<tbody>
						<tr th:each="diretoria : ${pagina.conteudo}">
							<td th:text="${diretoria.chapa}"></td>
							<td th:text="${diretoria.descricao}"></td>
							<td th:text="${{diretoria.dataFinal}}"></td>
							<td>
								<th:block th:if="${diretoria.novo}">
									<span class="label  label-primary">Sim</span>
								</th:block>

								<th:block th:unless="${diretoria.novo}">
									<span class="label  label-info">Não</span>
								</th:block>

							</td>							
							<td class="text-center">
								

 								<a class="btn  btn-link  btn-xs  js-tooltip" title="Candidatos" th:href="@{/cooperado/diretoria/candidato/novo/{id}(id=${diretoria.id})}"> 
 									<i class="glyphicon glyphicon-plus"></i>
 								</a>								

<!-- 								<a class="btn  btn-link  btn-xs  js-tooltip" title="Detalhes" sec:authorize-url="/cooperado/medico/detalhe/**" -->
<!-- 									th:href="@{/cooperado/medico/detalhe/{id}(id=${medico.id})}">  -->
<!-- 									<i class="glyphicon glyphicon-eye-open"></i> -->
<!-- 								</a>							 -->
<!--  								<a class="btn  btn-link  btn-xs  js-tooltip" title="Presentes" th:href="@{/cooperado/assembleia/presentes/{id}(id=${assembleia.id})}">  -->
<!--  									<i class="glyphicon glyphicon-plus"></i> -->
<!--  								</a>								 -->
<!-- 								<a class="btn  btn-link  btn-xs  js-tooltip" title="Alterar" sec:authorize-url="/cooperado/medico/alterar/**" -->
<!-- 										th:href="@{/cooperado/medico/alterar/{id}(id=${medico.id})}">  -->
<!-- 									<i class="glyphicon glyphicon-pencil"></i> -->
<!-- 								</a> -->
<!-- 								<a class="btn  btn-link  btn-xs js-tooltip  js-excluir-btn" title="Excluir" sec:authorize-url="/cooperado/medico/excluir/**" -->
<!-- 									data:url="@{/cooperado/medico/excluir/{id}(id=${medico.id})}" data:objeto="${medico.nome}" th:unless="${medico.ativo}"> -->
<!-- 									<i class="glyphicon glyphicon-trash"></i> -->
<!-- 								</a> -->
							</td>
						</tr>
						
						<tr th:if="${pagina.vazia}">
							<td colspan="5"> Nenhuma assembléia encontrada</td>
						</tr>
						
						
					</tbody>
				</table>
			</div>

			<simed:pagination page="${pagina}"/>						

		</div>		
	</section>
</body>
</html>