<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{Financeiro/LayoutFinanceiro}"
	xmlns:simed="http://simed.ajeffsoft.com"
	xmlns:data="http://www.thymeleaf.org/extras/data"	
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
	<title>Detalhe do Pagamento</title> 
</head>


	<section layout:fragment="conteudo">

		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-10">
						<h1>Detalhe do pagamento: [[${pagamento.documento}]]</h1>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">
						<p> <strong>Status: [[${pagamento.status}]]</strong></p>
					</div>
				</div>

			</div>
		</div>

		<div class="container-fluid" >
			<form id="form" method="GET" th:object="${pagamento}" class="form-vertical  js-form-loading"
				th:action="@{/financeiro/pagamento/detalhe/{id}(id=${pagamento.id})}" enctype="multpart/form-data">
			
			<input type="hidden" th:field="*{id}">
			
			
				<div class="row">
					<div class="form-group  col-lg-12">
						<ul class="nav nav-tabs  js-abas">
						  <li role="presentation" class="active"><a href="#dados">Dados</a></li>
						</ul>
					</div>
				</div>			

				<div class="tab-content">
					<div class="tab-pane active" id="dados">
						<div class="row">
							<div class="col-sm-3  form-group">
								<label for="empresa" class="label label-default">Empresa</label>
								<h3 id="empresa" th:text="${pagamento.contaEmpresa.empresa.fantasia}"></h3>
							</div>

							<div class="col-sm-2  form-group">
								<label for="emissao" class="label label-default">Emissão</label>
								<h3 id="emissao" th:text="${{pagamento.data}}"></h3>
							</div>

							<div class="col-sm-2  form-group">
								<label for="tipo" class="label label-default">Tipo Pgto</label>
								<h3 id="tipo" th:text="${pagamento.tipo}"></h3>
							</div>

							<div class="col-sm-2  form-group">
								<label for="valor" class="label label-default">Valor R$</label>
								<h3 id="valor" th:text="${{pagamento.valor}}"></h3>
							</div>

							<div class="col-sm-3  form-group" th:if = "${pagamento.pago}">
								<label for="dataPago" class="label label-default">Data Pago</label>
								<h3 id="dataPago" th:text="${{pagamento.dataPago}}"></h3>
							</div>
							
						</div>
						
						<div class="row">
							<div class="col-sm-3  form-group">
								<label for="banco" class="label label-default">Banco</label>
								<h3 id="banco" th:text="${pagamento.contaEmpresa.agencia.banco.nome}"></h3>
							</div>

							<div class="col-sm-2  form-group">
								<label for="agencia" class="label label-default">Agencia</label>
								<h3 id="agencia" th:text="${pagamento.contaEmpresa.agencia.agencia}"></h3>
							</div>

							<div class="col-sm-2  form-group">
								<label for="conta" class="label label-default">Conta</label>
								<h3 id="conta" th:text="${pagamento.contaEmpresa.conta}"></h3>
							</div>
						</div>						
					</div>
					
	
						<div class="table-responsive  bw-tabela-simples">
							<table class="table  table-hover" th:with="total=0">
								<thead>
									<tr>
										<th class="table-col-minima">Emp</th>
										<th class="table-col-minima">NF</th>
										<th class="table-col-minima">Parcela</th>
										<th class="table-col-minima">Fornecedor</th>
										<th class="table-col-minima">Conta Secundária</th>
										<th class="table-col-minima">Emissão</th>
										<th class="table-col-minima">Vencimento</th>
										<th class="table-col-minima">Valor</th>
									</tr>
								</thead>
								
								<tbody>
									<tr th:each="conta : ${contasPagar}">
										<td th:text="${conta.empresa.sigla}"></td>
										<td th:text="${conta.notaFiscal}"></td>
										<td th:text="${conta.parcela}+'/'+${conta.totalParcela}"></td>
										<td th:text="${conta.fornecedor.fantasia}"></td>
										<td th:text="${conta.planoContaSecundaria.nome}"></td>
										<td th:text="${{conta.dataEmissao}}"></td>
										<td th:text="${{conta.vencimento}}"></td>
										<td th:text="${{conta.valor}}"></td>
									</tr>
								</tbody>
							</table>
						</div>					
				</div>
				
				<br>
														
				<div class="form-group">
					<a target="'_blank'" class="btn  btn-info" th:href="@{/relatorios/financeiro/pagamento/ordemPagamento/{id}(id=${pagamento.id})}">Imprimir</a>
					<a class="btn  btn-default" href="javascript:history.back(1);">Voltar</a>
				</div>
			</form>
			
		</div>
	</section>

	<th:block layout:fragment="javascript-extra">

	<script>
		$(function() {
			$('.js-abas a').click(function (e) {
				e.preventDefault();
				$(this).tab('show');
			});
		});
	</script>
	</th:block>	
</html>