<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{Financeiro/LayoutFinanceiro}"
	xmlns:brewer="http://brewer.algaworks.com"
	xmlns:data="http://www.thymeleaf.org/extras/data"	
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	
<head>
	<title>Filtro Relatório</title>
</head>

<body>
	<section layout:fragment="conteudo">
		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-10">
						<h1>Filtrar relatório de pagamento</h1>
					</div>
				</div>
			</div>
		</div>

	
		<div class="container-fluid">
			<form method="POST" th:object="${periodoRelatorio}" th:action="@{/financeiro/pagamento/relatorio}" id = "form"> 
			
				<div class="row">
					<div class="form-group  col-sm-6">
						<label for="dataInicial">Data Pagamento</label>
						<div class="form-inline">
							<input type="text" class="form-control  aw-form-control-inline-sm  js-date" id="dataInicial" 
								th:field="*{dataInicio}" autocomplete="off" placeholder="Data Inicial"/>
							<label for="dataFinal" class="aw-form-label-between">até</label>
							<input type="text" class="form-control  aw-form-control-inline-sm  js-date" id="dataFinal" 
								th:field="*{dataFim}" autocomplete="off" placeholder="Data Final"/>
						</div>
					</div>
					
					<div class="col-sm-4  form-group">
						<label for="empresa" class="control-label">Empresa</label>
						<select id="empresa" class="form-control" th:field="*{empresa}">
							<option value="">Selecione a empresa</option>
							<option th:each="empresa : ${empresas}" th:value="${empresa.id}" th:text="${empresa.fantasia}"></option>
						</select>
					</div>
					
				</div>
				
				<br>	
					
				<div class="row">
					<div class="col-lg-3 col-sm-6  form-group">
						<label for="tipo" class="control-label">Tipos de Relatórios</label>
						<div>
							<div class = "radio">
								<input type="radio" id="resumoAssinatura" name="tipo" value="PAGAMENTO_Resumo" th:field="*{tipoRelatorio}">
								<label class="control-label" for="resumoAssinatura">Resumo/Assinatura</label>							
							</div>
						</div>
					</div>
				</div>									

				<div class="row" style="clear: both" >
					<div class="col-lg-12">
						<button formtarget="_blank" class="btn  btn-success" type="submit">Gerar Relatório</button>
						<a class="btn  btn-danger" th:href="@{/financeiro/pagamento/pesquisar}"> Cancelar e/ou voltar	</a>
						
					</div>
				</div>

			</form>
		</div>	
	</section>
<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/vendors/bootstrap-switch.min.js}"></script>
	<script>
		$('.js-status').bootstrapSwitch();
	</script>
</th:block>	
</body>
</html>