<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{Financeiro/LayoutFinanceiro}"
	xmlns:data="http://www.thymeleaf.org/extras/data"	
	xmlns:simed="http://simed.ajeffsoft.com"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	
	<link rel="stylesheet" th:href="@{/stylesheets/vendors/upload.min.css}"/>
	

<head>
	<title>Cadastro de conta a pagar</title>
</head>


	<section layout:fragment="conteudo">

		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-10">
						<h1 th:if="${contaPagar.novo}">Cadastro de conta a pagar</h1>
						<h1 th:unless="${contaPagar.novo}">Alterar a conta: [[${contaPagar.documento}]]</h1>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid">


			<form method="POST" th:object="${contaPagar}" class="form-vertical  js-form-loading" enctype="multipart/form-data"
				th:action="${contaPagar.novo} ? @{/financeiro/contaPagar/nova} : @{/financeiro/contaPagar/{id}(id=${contaPagar.id})}">
			
				<simed:message/>
			
				<input type="hidden" th:field="*{id}">
				<input type="hidden" th:field="*{status}">
				<input type="hidden" th:field="*{parcela}">
				<input type="hidden" th:field="*{documento}">
				<input type="hidden" th:field="*{upload}"/>
				<input type="hidden" th:field="*{contentType}"/>				
				
				<div th:unless="${contaPagar.novo}">
					<input type="hidden" th:field="*{totalParcela}">
				</div>
				
				<div class="row">
					<div class="form-group  col-lg-12">
						<ul class="nav nav-tabs  js-abas">
						  <li role="presentation" class="active"><a href="#dados">Dados Conta</a></li>
						  <li role="presentation"><a href="#anexo">Upload Anexo</a></li>
						</ul>
					</div>
				</div>
				
				
				<div class="tab-content">
					<div class="tab-pane active" id="dados">				
		
						<div class="row">
						
							<div class="col-sm-3  form-group"  simed:classforerror="empresa">
								<label for="empresa" class="control-label">Empresa*</label>
								<select id="empresa" class="form-control" th:field="*{empresa}">
									<option value="">Selecione uma empresa</option>
									<option th:each="empresa : ${empresas}" th:value="${empresa.id}" th:text="${empresa.fantasia}"></option>
								</select>
							</div>
						
							<div class="col-sm-9  form-group"  simed:classforerror="fornecedor">
								<label for="fornecedor" class="control-label">Fornecedor*</label>
								<select id="fornecedor" class="form-control" th:field="*{fornecedor}">
									<option value="">Selecione um forncedor</option>
									<option th:each="forn : ${fornecedores}" th:value="${forn.id}" th:text="${forn.nome}"></option>
								</select>
							</div>
						</div>
						
						<div class="row">	
							<div class="col-sm-3  form-group">
								<label for="planoConta" class="control-label">Conta Primária*</label>
								<select id="planoConta" class="form-control" th:field="*{planoContaSecundaria.planoConta}">
										<option th:each="planoConta : ${planosConta}" th:value="${planoConta.id}" th:text="${planoConta.nome}"></option>
								</select>
							</div>
							
		 					<div class="col-sm-9  form-group" simed:classforerror="planoContaSecundaria">
								<label for="subPlanoConta" class="control-label">Conta Secundária*</label>
								<div class="bw-field-action">
									<input type = "hidden" id="inputHiddenSubPlanoContaSelecionado" th:value="*{planoContaSecundaria} != null ? *{planoContaSecundaria.id}">
									<select id="subPlanoConta" class="form-control" data:url="@{/financeiro/planoContaSecundaria}" th:field="*{planoContaSecundaria}">
									</select>
		
									<div class="bw-field-action__icon  js-img-loading" style="display: none">
										<img th:src="@{/images/mini-loading.gif}"/>
									</div>
								</div>  
							</div>
						</div>				
						
						<div class="row">
							<div>
								<div class="col-sm-12  form-group">
									<label for="historico" class="control-label">Histórico*</label>
									<textarea id="historico" class="form-control" th:field = "*{historico}" rows="3" maxlength="200"
										placeholder="Deixe em branco para o histórico ser igual ao plano de conta secundária."></textarea>
								</div>
							</div>				
						</div>				
				

						<div class="row">
							<div class="col-sm-2  form-group" simed:classforerror="notaFiscal">
								<label for="notaNum" class="control-label">Nº NF</label>
								<input id="notaNum" type="text" class="form-control" maxlength="12" th:field = "*{notaFiscal}">
							</div>
						
							<div class="col-sm-2  form-group" simed:classforerror="dataEmissao">
								<label for="emissao" class="control-label">Emissão*</label>
								<input id="emissao" type="text" class="form-control  js-date" th:field = "*{dataEmissao}" autocomplete="off"/>
							</div>
		
							<div class="col-sm-2  form-group" simed:classforerror="vencimento">
								<label for="vencimento" class="control-label">Vencimento*</label>
								<input id="vencimento" type="text" class="form-control  js-date" th:field = "*{vencimento}" autocomplete="off"/>
							</div>

							<div class="col-sm-2  form-group" simed:classforerror="valor">
								<label for="valor" class="control-label">Valor *</label>
								<div class="input-group">
									<input id="valor" type="text" class="form-control  js-decimal" th:field = "*{valor}"/>
									<div class="input-group-addon">R$</div>
								</div>
							</div>

							<div class="col-sm-2  form-group" th:if="${contaPagar.novo}">
								<label for="parcelaNum" class="control-label">Parcelas nº</label>
								<input id="parcelaNum" type="number" class="form-control" th:field = "*{totalParcela}">
							</div>
							
							<div class="form-group  col-sm-2">
								<label class="control-label">F/V</label>
								<div>	
									<input id="fixoVariavel" type="checkbox" checked data-toggle="toggle" class="form-control"  data-size="small"
									 data-on="Fixo" data-off="Variável" data-onstyle="primary" data-offstyle="default" th:field="*{fixo}"/>
								</div>
							</div>

						</div>
						
						<div class="row">
							<div class="form-group  col-sm-2" th:if="${contaPagar.novo}">
								<label class="control-label">IRRF</label>
								<div>
									<input id="impRenda" type="checkbox" checked data-toggle="toggle" class="form-control"  data-size="small"
									 data-on="Retido" data-off="Sem Retenção" data-onstyle="primary" data-offstyle="default" th:field="*{reterIR}"/>
								</div>
							</div>
	
							<div class="form-group  col-sm-2" th:if="${contaPagar.novo}">
								<label class="control-label">PCCS</label>
								<div>	
									<input id="cofins" type="checkbox" checked data-toggle="toggle" class="form-control"  data-size="small"
									 data-on="Retido" data-off="Sem Retenção" data-onstyle="primary" data-offstyle="default" th:field="*{reterCOFINS}"/>
								</div>
							</div>
	
							<div class="form-group  col-sm-2" th:if="${contaPagar.novo}">
								<label class="control-label">INSS</label>
								<div>	
									<input id="impInss" type="checkbox" checked data-toggle="toggle" class="form-control"  data-size="small"
									 data-on="Retido" data-off="Sem Retenção" data-onstyle="primary" data-offstyle="default" th:field="*{reterINSS}"/>
								</div>
							</div>
							
							<div class="col-sm-2  form-group" th:if="${contaPagar.novo}">
								<label for="issPorcentagem" class="control-label">ISS %</label>
								<input id="issPorcentagem" type="text" class="form-control  js-decimal" maxlength="20" th:field="*{issPorcentagem}">
							</div>

							<div class="form-group  col-sm-4">
							<label class="control-label">Auditoria</label> 
							<div>
		  						<div class="checkbox  checkbox-inline"> 
			    					<input type="checkbox" id="cNota" th:field="*{temNota}"/>
			    					<label for="cNota">Com Nota Fiscal</label>
		    					</div>
		  						<div class="checkbox  checkbox-inline"> 
			    					<input type="checkbox" id="cRecibo" th:field="*{recibo}"/>
			    					<label for="cRecibo">Com Recibo</label>
		    					</div>

							</div>
							</div>

						</div>
						
					</div>
					
					<div class="tab-pane" id="anexo">
						<div class="row">
							<div class="form-group  col-sm-12">

								
								<div class="js-container-upload">
								
									<div id="upload-drop" class="bw-upload">
										<i class="glyphicon  glyphicon-cloud-upload"></i>
										<span>Arraste o arquivo aqui ou </span>
										<a class="bw-upload-form-file">selecione <input id="upload-select" type="file" accept=".pdf"/></a>
									</div>
								</div>
							</div>
						</div>
					</div>					
				</div>

				<div class="form-group">
					<button class="btn  btn-success" type="submit">Salvar</button>
					<a class="btn  btn-danger" sec:authorize-url="/financeiro/contaPagar/pesquisar" th:href="@{/financeiro/contaPagar/pesquisar}">Voltar</a>
				</div>
		</form>
	</div>
	
	<th:block th:replace = "Financeiro/fornecedor/PesquisaRapidaFornecedor :: pesquisaRapidaFornecedor"></th:block>
	<th:block th:replace="hbs/uploadContaPagar"></th:block>
	
	
</section>

<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/vendors/handlebars.min.js}"></script>
	
	<script th:src="@{/javascripts/pesquisaRapida/fornecedor.pesquisa-rapida.js}"></script>
	<script th:src="@{/javascripts/contaPagar.combo-planoConta.js}"></script>
	<script th:src="@{/javascripts/vendors/bootstrap-toggle.min.js}"></script>
	<script th:src="@{/javascripts/vendors/uikit.min.js}"></script>
	<script th:src="@{/javascripts/vendors/upload.min.js}"></script>
	<script th:src="@{/javascripts/vendors/handlebars.min.js}"></script>


	<script>
		$(function() {
			$('.js-abas a').click(function (e) {
				e.preventDefault();
				$(this).tab('show');
			});
		});
	</script>
	
	
	
	<script>
	$(function() {
		var settings = {
				type: 'json',
				filelimit: 1,
				allow: '*.(pdf)',
				action: '/simed/financeiro/contasPagar/upload',
				complete: function(resposta){
					
					
					var inputNome = $('input[name=upload]');
					var inputContentType = $('input[name=contentType]');
					
					var htmlUploadTemplate = $('#upload-contapagar').html();
					var template = Handlebars.compile(htmlUploadTemplate);
					var htmlUpload = template({nomeUpload: resposta.nome});
					
					var containerUpload = $('.js-container-upload');
					
					var uploadDrop = $('#upload-drop');
					
					inputNome.val(resposta.nome);
					inputContentType.val(resposta.contentType);
					
					uploadDrop.addClass('hidden');
					containerUpload.append(htmlUpload);
					
					$('.js-remove-upload').on('click', function() {
						$('.js-upload-contapagar').remove();
						uploadDrop.removeClass('hidden');
						inputNome.val('');
						inputContentType.val('');
					});					
					
				}
		};
		
		UIkit.uploadSelect($('#upload-select'), settings);
		UIkit.uploadDrop($('#upload-drop'), settings);
	});
	</script>
	
	
</th:block>

</html>