<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{Financeiro/LayoutFinanceiro}"
	xmlns:data="http://www.thymeleaf.org/extras/data"	
	xmlns:simed="http://simed.ajeffsoft.com"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	
	<link rel="stylesheet" th:href="@{/stylesheets/vendors/upload.min.css}"/>
	

<head>
	<title>Contas a pagar</title>
</head>


	<section layout:fragment="conteudo">

		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-10">
						<h1 th:if="${contaPagar.novo}">Cadastro de conta a pagar</h1>
						<h1 th:unless="${contaPagar.novo}">Alterar a conta: [[${contaPagar.documento}]]</h1>
					</div>
						
					<div class="col-sm-2">
						<div class="aw-page-header-controls">
							<a class="btn  btn-default" th:href="@{/financeiro/contaPagar/pesquisar}">
								<i class="glyphicon  glyphicon-zoom-in"></i> <span class="hidden-xs  hidden-sm">Pesquisar</span>
							</a>
						</div>
					</div>						
				</div>
			</div>
		</div>

		<div class="container-fluid">


			<form method="POST" th:object="${contaPagar}" class="form-vertical  js-form-loading" enctype="multipart/form-data"
				th:action="${contaPagar.novo} ? @{/financeiro/contaPagar/nova} : @{/financeiro/contaPagar/{id}(id=${contaPagar.id})}">
			
				<simed:message/>
			
				<input type="hidden" th:field="*{id}">
				<input type="hidden" th:field="*{status}">
				<input type="hidden" th:field="*{parcela}">
				<input type="hidden" th:field="*{documento}">
				<input type="hidden" th:field="*{upload}"/>
				<input type="hidden" th:field="*{contentType}"/>				
				
				<div th:unless="${contaPagar.novo}">
					<input type="hidden" th:field="*{totalParcela}">
				</div>
				
				
				
				
				
				<div class="row">
					<div class="form-group  col-lg-12">
						<ul class="nav nav-tabs  js-abas">
						  <li role="presentation" class="active"><a href="#">Dados da Conta</a></li>
						</ul>
					</div>
				</div>
				
				
				<div class="tab-content">
					<div class="tab-pane active" id="dados">				
		
						<div class="row">
						
							<div class="col-sm-3  form-group"  simed:classforerror="empresa">
								<label for="empresa" class="control-label">Empresa*</label>
								<select id="empresa" class="form-control" th:field="*{empresa}">
									<option value="">Selecione uma empresa</option>
									<option th:each="empresa : ${empresas}" th:value="${empresa.id}" th:text="${empresa.fantasia}"></option>
								</select>
							</div>
						
							<div class="col-sm-9  form-group"  simed:classforerror="fornecedor">
								<label for="fornecedor" class="control-label">Fornecedor*</label>
<!-- 								<input type="hidden" th:value="${contaPagar.fornecedor.tipo}" /> -->
								<select id="fornecedor" class="form-control" th:field="*{fornecedor}">
<!-- 									<option value="">Selecione um fornecedor</option> -->
									<option th:each="forn : ${fornecedores}" th:value="${forn.id}" th:text="${forn.nome}"></option>
								</select>
							</div>
						</div>
						
						<div class="row">	
							<div class="col-sm-3  form-group">
								<label for="planoConta" class="control-label">Conta Primária*</label>
								<select id="planoConta" class="form-control" th:field="*{planoContaSecundaria.planoConta}">
										<option th:each="planoConta : ${planosConta}" th:value="${planoConta.id}" th:text="${planoConta.nome}"></option>
								</select>
							</div>
							
		 					<div class="col-sm-9  form-group" simed:classforerror="planoContaSecundaria">
								<label for="subPlanoConta" class="control-label">Conta Secundária*</label>
								<div class="bw-field-action">
									<input type = "hidden" id="inputHiddenSubPlanoContaSelecionado" th:value="*{planoContaSecundaria} != null ? *{planoContaSecundaria.id}">
									<select id="subPlanoConta" class="form-control" data:url="@{/financeiro/planoContaSecundaria}" th:field="*{planoContaSecundaria}">
									</select>
		
									<div class="bw-field-action__icon  js-img-loading" style="display: none">
										<img th:src="@{/images/mini-loading.gif}"/>
									</div>
								</div>  
							</div>
						</div>				
						
						<div class="row">
							<div>
								<div class="col-sm-12  form-group" simed:classforerror="historico">
									<label for="historico" class="control-label">Histórico*</label>
									<textarea id="historico" class="form-control" th:field = "*{historico}" rows="3" maxlength="200"></textarea>
								</div>
							</div>				
						</div>				
				

						<div class="row">
							<div class="col-sm-2  form-group" simed:classforerror="notaFiscal">
								<label for="notaNum" class="control-label">Nº NF*</label>
								<input id="notaNum" type="text" class="form-control" maxlength="12" th:field = "*{notaFiscal}">
							</div>
						
							<div class="col-sm-2  form-group" simed:classforerror="dataEmissao">
								<label for="emissao" class="control-label">Emissão*</label>
								<input id="emissao" type="text" class="form-control  js-date" th:field = "*{dataEmissao}" autocomplete="off"/>
							</div>
		
							<div class="col-sm-2  form-group" simed:classforerror="vencimento">
								<label for="vencimento" class="control-label">Vencimento*</label>
								<input id="vencimento" type="text" class="form-control  js-date" th:field = "*{vencimento}" autocomplete="off"/>
							</div>

							<div class="col-sm-2  form-group" simed:classforerror="valor">
								<label for="valor" class="control-label">Valor *</label>
								<div class="input-group">
									<input id="valor" type="text" class="form-control  js-decimal" th:field = "*{valor}"/>
									<div class="input-group-addon">R$</div>
								</div>
							</div>

				
							<div class="form-group  col-sm-1">
								<label class="control-label">F/V</label>
								<div>	
									<input id="fixoVariavel" type="checkbox" checked data-toggle="toggle" class="form-control  toggle"  data-size="small"
									 data-on="F" data-off="V" data-onstyle="primary" data-offstyle="default" th:field="*{fixo}"/>
								</div>
							</div>
							
							
							<div class="form-group  col-sm-3">
								<label class="control-label">Auditoria</label> 
								<div>
			  						<div class="checkbox  checkbox-inline"> 
				    					<input type="checkbox" id="cNota" th:field="*{temNota}"/>
				    					<label for="cNota">NF</label>
			    					</div>
			  						<div class="checkbox  checkbox-inline"> 
				    					<input type="checkbox" id="cRecibo" th:field="*{recibo}"/>
				    					<label for="cRecibo">Recibo</label>
			    					</div>
	
								</div>
							</div>

						</div>
						
						<div class="form-group">
							<a class="btn  btn-primary js-abas" href="#imposto">Próximo</a>
						</div>
					</div>
					
					
					<div class="tab-pane" id="imposto" th:if="${contaPagar.novo}">				
						<div class="row">
						
<!-- 							<div class="card"> -->
<!-- 							  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Retenção Impostos</h3> -->
<!-- 							  <br/> -->
<!-- 							  <div class="card-body"> -->
						
<!-- 									<div class="form-group  col-sm-3"> -->
<!-- 										<div> -->
<!-- 					  						<div class="checkbox">  -->
<!-- 						    					<input type="checkbox" id="cIRRF" th:field="*{reterIR}"/> -->
<!-- 						    					<label for="cIRRF" >Reter Imposto Renda</label> -->
<!-- 					    					</div> -->
<!-- 										</div> -->
<!-- 									</div> -->
		
<!-- 									<div class="form-group  col-sm-3"> -->
<!-- 										<div> -->
<!-- 					  						<div class="checkbox">  -->
<!-- 						    					<input type="checkbox" id="cPCCS" th:field="*{reterCOFINS}"/> -->
<!-- 						    					<label for="cPCCS" >Reter PIS/Cofins/CSLL</label> -->
<!-- 					    					</div> -->
<!-- 										</div> -->
<!-- 									</div> -->
		
<!-- 									<div class="form-group  col-sm-3"> -->
<!-- 										<div> -->
<!-- 					  						<div class="checkbox">  -->
<!-- 						    					<input type="checkbox" id="cINSS" th:field="*{reterINSS}"/> -->
<!-- 						    					<label for="cINSS" >Reter INSS (11%)</label> -->
<!-- 					    					</div> -->
<!-- 										</div> -->
<!-- 									</div> -->
									
									
<!-- 									<div class="col-sm-2  form-group"> -->
<!-- 										<label for="issPorcentagem" class="control-label">% ISS</label> -->
<!-- 										<div class="input-group"> -->
<!-- 											<input id="issPorcentagem" type="text" class="form-control  js-decimal "> -->
<!-- 											<div class="input-group-addon">%</div> -->
<!-- 										</div> -->
<!-- 									</div> -->
<!-- 								</div> -->
<!-- 							</div>								 -->




							<div class="card">
							  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Retenção de Impostos</h3>
							  <br/>
							  <div class="card-body">
							    <div id="tableParcela" class="table-responsive  bw-tabela-simples">
							      
							      <table class="table table-bordered table-responsive-md table-striped text-center">
							        <thead>
							          <tr>
							            <th class="text-center">Imposto</th>
							            <th class="text-center">Reter</th>
							            <th class="text-center">Valor R$</th>
							          </tr>
							        </thead>
							        <tbody>
							         
<!-- 							         IRRF -->
							          <tr>
							            <td class="pt-3-half" contenteditable="false">IRRF (PF/PJ)</td>
							            <td class="pt-3-half" contenteditable="false">

							            </td>
							            <td class="pt-3-half" contenteditable="false">0,00</td>
							          </tr>
							          
<!-- 							         PCCS -->
							          <tr>
							            <td class="pt-3-half" contenteditable="false">PIS/COFINS/CSLL (PJ)</td>
							            <td class="pt-3-half" contenteditable="false">
											<select id="marqReterPCCS" class="form-control" th:field="*{reterCOFINS}">
													<option value="N"> Sem retenção</option>
													<option value="S"> Reter PCCS</option>
											</select>
							            </td>
							            <td class="pt-3-half" contenteditable="false" id="linhaPccs">0,00</td>
							          </tr>
							          
<!-- 							         INSS -->
							          <tr>
							            <td class="pt-3-half" contenteditable="false">INSS (PF)</td>
							            <td class="pt-3-half" contenteditable="false">
											<select id="marqReterINSS" class="form-control" th:field="*{reterINSS}">
													<option value="N"> Sem retenção</option>
													<option value="S"> Reter INSS</option>
											</select>
							            </td>
							            <td class="pt-3-half" contenteditable="false" id="linhaInss">0,00</td>
							          </tr>
							          
<!-- 							         ISS -->
							          <tr>
							            <td class="pt-3-half" contenteditable="false">ISS (PF/PJ)</td>
							            <td class="pt-3-half" contenteditable="false">
											<div class="input-group">
												<input id="issPorcentagem" type="text" class="form-control  js-decimal " th:field="*{issPorcentagem}">
												<div class="input-group-addon">%</div>
											</div>
							            </td>
							            <td class="pt-3-half" id="linhaISS" contenteditable="false">0,00</td>
							          </tr>
							          
							          
							        </tbody>
							      </table>
							    </div>
							  </div>
							</div>





						</div>
					
						<div class="form-group">
							<a class="btn  btn-default  js-abas" href="#dados">Voltar</a>
							<a class="btn  btn-primary js-abas" href="#parcelamento">Próximo</a>
						</div>						
						
					</div>					
					
					<div class="tab-pane" id="parcelamento">
					
						<div class="row">
			
							<div class="card">
							  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Parcelamento da conta</h3>
							  <br/>
							  <div class="card-body">
							    <div id="tableParcela" class="table-responsive  bw-tabela-simples">
							      
							      <table class="table table-bordered table-responsive-md table-striped text-center">
							        <thead>
							          <tr>
							            <th class="text-center">Parcela nº</th>
							            <th class="text-center">Vencimento</th>
							            <th class="text-center">Valor R$</th>
							          </tr>
							        </thead>
							        <tbody>
							         
<!-- 							         PARCELA 001 -->
							          <tr>
							            <td class="pt-3-half" contenteditable="false">01</td>
							            <td class="pt-3-half" contenteditable="false">
											<input id="vencimento01" name="vencimento-parcela" type="text" class="form-control  js-date" autocomplete="off"/>
							            </td>
							            <td class="pt-3-half" contenteditable="false">
							            	<input id="valor01" name="valor-parcela" type="text" class="form-control  js-decimal ">
							            </td>
							          </tr>
							          
<!-- 							         PARCELA 002 -->
							          <tr>
							            <td class="pt-3-half" contenteditable="false">02</td>
							            <td class="pt-3-half" contenteditable="false">
											<input id="vencimento02" name="vencimento-parcela" type="text" class="form-control  js-date" autocomplete="off"/>
							            </td>
							            <td class="pt-3-half" contenteditable="false">
							            	<input id="valor02" name="valor-parcela" type="text" class="form-control  js-decimal ">
							            </td>
							          </tr>
							          
<!-- 							         PARCELA 003 -->
							          <tr>
							            <td class="pt-3-half" contenteditable="false">03</td>
							            <td class="pt-3-half" contenteditable="false">
											<input id="vencimento03" name="vencimento-parcela" type="text" class="form-control  js-date" autocomplete="off"/>
							            </td>
							            <td class="pt-3-half" contenteditable="false">
							            	<input id="valor03" name="valor-parcela" type="text" class="form-control  js-decimal ">
							            </td>
							          </tr>
							          
<!-- 							         PARCELA 004 -->
							          <tr>
							            <td class="pt-3-half" contenteditable="false">04</td>
							            <td class="pt-3-half" contenteditable="false">
											<input id="vencimento04" name="vencimento-parcela" type="text" class="form-control  js-date" autocomplete="off"/>
							            </td>
							            <td class="pt-3-half" contenteditable="false">
							            	<input id="valor04" name="valor-parcela" type="text" class="form-control  js-decimal ">
							            </td>
							          </tr>
							          
<!-- 							         PARCELA 005 -->
							          <tr>
							            <td class="pt-3-half" contenteditable="false">01</td>
							            <td class="pt-3-half" contenteditable="false">
											<input id="vencimento05" name="vencimento-parcela" type="text" class="form-control  js-date" autocomplete="off"/>
							            </td>
							            <td class="pt-3-half" contenteditable="false">
							            	<input id="valor05" name="valor-parcela" type="text" class="form-control  js-decimal ">
							            </td>
							          </tr>
							          
<!-- 							         PARCELA 006 -->
							          <tr>
							            <td class="pt-3-half" contenteditable="false">06</td>
							            <td class="pt-3-half" contenteditable="false">
											<input id="vencimento06" name="vencimento-parcela" type="text" class="form-control  js-date" autocomplete="off"/>
							            </td>
							            <td class="pt-3-half" contenteditable="false">
							            	<input id="valor06" name="valor-parcela" type="text" class="form-control  js-decimal ">
							            </td>
							          </tr>
							          
<!-- 							         PARCELA 001 -->
							          <tr>
							            <td class="pt-3-half" contenteditable="false">07</td>
							            <td class="pt-3-half" contenteditable="false">
											<input id="vencimento07" name="vencimento-parcela" type="text" class="form-control  js-date" autocomplete="off"/>
							            </td>
							            <td class="pt-3-half" contenteditable="false">
							            	<input id="valor07" name="valor-parcela" type="text" class="form-control  js-decimal ">
							            </td>
							          </tr>
							          
<!-- 							         PARCELA 008 -->
							          <tr>
							            <td class="pt-3-half" contenteditable="false">08</td>
							            <td class="pt-3-half" contenteditable="false">
											<input id="vencimento08" name="vencimento-parcela" type="text" class="form-control  js-date" autocomplete="off"/>
							            </td>
							            <td class="pt-3-half" contenteditable="false">
							            	<input id="valor08" name="valor-parcela" type="text" class="form-control  js-decimal ">
							            </td>
							          </tr>
							          
<!-- 							         PARCELA 009 -->
							          <tr>
							            <td class="pt-3-half" contenteditable="false">09</td>
							            <td class="pt-3-half" contenteditable="false">
											<input id="vencimento09" name="vencimento-parcela" type="text" class="form-control  js-date" autocomplete="off"/>
							            </td>
							            <td class="pt-3-half" contenteditable="false">
							            	<input id="valor09" name="valor-parcela" type="text" class="form-control  js-decimal ">
							            </td>
							          </tr>
							          
<!-- 							         PARCELA 010 -->
							          <tr>
							            <td class="pt-3-half" contenteditable="false">10</td>
							            <td class="pt-3-half" contenteditable="false">
											<input id="vencimento10" name="vencimento-parcela" type="text" class="form-control  js-date" autocomplete="off"/>
							            </td>
							            <td class="pt-3-half" contenteditable="false">
							            	<input id="valor10" name="valor-parcela" type="text" class="form-control  js-decimal ">
							            </td>
							          </tr>
							          
<!-- 							         PARCELA 011 -->
							          <tr>
							            <td class="pt-3-half" contenteditable="false">11</td>
							            <td class="pt-3-half" contenteditable="false">
											<input id="vencimento11" name="vencimento-parcela" type="text" class="form-control  js-date" autocomplete="off"/>
							            </td>
							            <td class="pt-3-half" contenteditable="false">
							            	<input id="valor11" name="valor-parcela" type="text" class="form-control  js-decimal ">
							            </td>
							          </tr>
							          
<!-- 							         PARCELA 012 -->
							          <tr>
							            <td class="pt-3-half" contenteditable="false">12</td>
							            <td class="pt-3-half" contenteditable="false">
											<input id="vencimento12" name="vencimento-parcela" type="text" class="form-control  js-date" autocomplete="off"/>
							            </td>
							            <td class="pt-3-half" contenteditable="false">
							            	<input id="valor12" name="valor-parcela" type="text" class="form-control  js-decimal ">
							            </td>
							          </tr>
							          
							          
							        </tbody>
							      </table>
							    </div>
							  </div>
							</div>

						</div>
						<div class="form-group">
							<a class="btn  btn-default  js-abas" href="#imposto">Voltar</a>
							<a class="btn  btn-primary js-abas" href="#anexo">Próximo</a>
						</div>						
					</div>							
					
					<div class="tab-pane" id="anexo">
						<div class="row">
							
							
							<div class="card">
							  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Anexar Arquivo</h3>
							  <br/>
							  <div class="card-body">
							
							
									<div class="form-group  col-sm-12">
										<div class="js-container-upload">
										
											<div id="upload-drop" class="bw-upload">
												<i class="glyphicon  glyphicon-cloud-upload"></i>
												<span>Arraste o arquivo aqui ou </span>
												<a class="bw-upload-form-file">selecione <input id="upload-select" type="file" accept=".pdf"/></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
						
							<a class="btn  btn-default  js-abas" href="#parcelamento">Voltar</a>
							<button class="btn  btn-success" type="submit">Salvar</button>
						</div>						
						
						
					</div>					
				</div>
		</form>
	</div>
	
	<th:block th:replace = "Financeiro/fornecedor/PesquisaRapidaFornecedor :: pesquisaRapidaFornecedor"></th:block>
	<th:block th:replace="hbs/uploadContaPagar"></th:block>
	
	
</section>

<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/vendors/handlebars.min.js}"></script>
	
	<script th:src="@{/javascripts/pesquisaRapida/fornecedor.pesquisa-rapida.js}"></script>
	<script th:src="@{/javascripts/contaPagar.combo-planoConta.js}"></script>
	<script th:src="@{/javascripts/vendors/uikit.min.js}"></script>
	<script th:src="@{/javascripts/vendors/upload.min.js}"></script>
	<script th:src="@{/javascripts/vendors/handlebars.min.js}"></script>
	<script th:src="@{/javascripts/contaPagar.upload.js}"></script>


	<script>
		$(function() {
			$('.js-abas').click(function (e) {
				e.preventDefault();
				$(this).tab('show');
			});
		});
	</script>
	
	<!-- AJAX IMPOSTOS -->
	<script>
	
		$(function(){
			$('#issPorcentagem').focusout(function(){
				var aliquota = $(this).val();
				var valor = $('#valor').val();
				
				if(aliquota !== "0,00" && valor !== "0,00"){
					
					var request = $.ajax({
								method: "get",
								contentType: 'application/json',
								url: "/simed/financeiro/imposto/getISS",
								data: {aliquota: aliquota, valor : valor}
							}).success(function(e){
								
								$('#linhaISS').empty();
								$('#linhaISS').append(e)
							});
					
// 					request.done(function(){
// 						console.log("Feito! - ")
// 					});
					
// 					request.fail(function(){
// 						console.log("Erro!!")
// 					});
				}else {
					$('#linhaISS').empty();
					$('#linhaISS').append("0,00")					
				}
			});
			
			

			$('#marqReterINSS').on("change", function(){
				var valorParaInss = $('#valor').val();
				if($(this).val() === "S"){
					var idFornecedor = $('#fornecedor').val();
					
					$.ajax({
						mothod: 'get',
						url: '/simed/financeiro/imposto/getInss',
						contentType: 'application/json',
						data: {valor: valorParaInss, idFornecedor: idFornecedor}
					}).success(function(e){
						$('#linhaInss').empty();
						$('#linhaInss').append(e);
					})
				}else {
					$('#linhaInss').empty();
					$('#linhaInss').append("0,00");					
				}
			});

			$('#marqReterPCCS').on("change", function(){
				var valorParaPccs = $('#valor').val();
				if($(this).val() === "S"){
					var idFornecedorPccs = $('#fornecedor').val();
					
					$.ajax({
						mothod: 'get',
						url: '/simed/financeiro/imposto/getPccs',
						contentType: 'application/json',
						data: {valor: valorParaPccs, idFornecedor: idFornecedorPccs}
					}).success(function(e){
						$('#linhaPccs').empty();
						$('#linhaPccs').append(e);
					})
				}else {
					$('#linhaPccs').empty();
					$('#linhaPccs').append("0,00");					
				}
			});
		});
	
	</script>
	
	
</th:block>

</html>