<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{Financeiro/LayoutFinanceiro}"
	xmlns:sinte="http://sintecoop.ajeffsoft.com"
	xmlns:data="http://www.thymeleaf.org/extras/data"	
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
	<title>Detalhe do Cooperado</title> 
</head>

	<section layout:fragment="conteudo">

		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-10">
						<h1>Detalhe de: [[${cooperado.nome}]]</h1>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid" >
			<form id="form" method="GET" th:object="${cooperado}" class="form-vertical  js-form-loading"
				th:action="@{/cooperado/cooperado/detalhe/{id}(id=${cooperado.id})}"  enctype="multpart/form-data">
			
			<input type="hidden" th:field="*{id}">
			
			
				<div class="row">
					<div class="form-group  col-lg-12">
						<ul class="nav nav-tabs  js-abas">
						  <li role="presentation" class="active"><a href="#dados">Cadastro</a></li>
						  <li role="presentation" ><a href="#historico">Histórico</a></li>
						  <li role="presentation" ><a href="#recebimentos">Recebimentos</a></li>
						</ul>
					</div>
				</div>			

				<div class="tab-content">
					<div class="tab-pane active" id="dados">
						<div class="row">
							<div class="col-sm-10  form-group">
								<label for="nome" class="label label-default">Nome</label>
								<h3 id="nome" th:text="${cooperado.nome}"></h3>
							</div>


							<div class="col-sm-2  form-group">
								<label for="crm" class="label label-default">CRM</label>
								<h3 id="crm" th:text="${cooperado.crm}"></h3>
							</div>

						</div>
						
						<div class="row">
							<div class="col-sm-7  form-group">
								<label for="endereco" class="label label-default">Endereço</label>
								<h3 id="endereco" th:text="${cooperado.endereco.logradouro}"></h3>
							</div>

							<div class="col-sm-3  form-group">
								<label for="bairro" class="label label-default">Bairro</label>
								<h3 id="bairro" th:text="${cooperado.endereco.bairro}"></h3>
							</div>

							<div class="col-sm-2  form-group">
								<label for="cep" class="label label-default">CEP</label>
								<h3 id="cep" th:text="${cooperado.endereco.cep}"></h3>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-7  form-group">
								<label for="cidade" class="label label-default">Cidade/UF</label>
								<h3 id="cidade" th:text="${cooperado.endereco.cidade.nome} +'/'+${cooperado.endereco.cidade.uf}"></h3>
							</div>

							<div class="col-sm-3  form-group">
								<label for="telefone" class="label label-default">Telefone</label>
								<h3 id="telefone" th:text="${cooperado.telefone}"></h3>
							</div>

							<div class="col-sm-2  form-group">
								<label for="celular" class="label label-default">Celular</label>
								<h3 id="celular" th:text="${cooperado.celular}"></h3>
							</div>
						</div>				

						<div class="row">
							<div class="col-sm-7  form-group">
								<label for="doc" class="label label-default">CPF</label>
								<h3 id="doc" th:text="${cooperado.documento.cpf}"></h3>
							</div>

							<div class="col-sm-5  form-group">
								<label for="doc1" class="label label-default">PIS/IE</label>
								<h3 id="doc1" th:text="${cooperado.documento.rg}"></h3>
							</div>
						</div>				
						
					</div>
					
					<div class="tab-pane" id="historico">
						<div class="table-responsive  bw-tabela-simples">
							<table class="table  table-hover" th:with="total=0">
								<thead>
									<tr>
										
									</tr>
								</thead>
								
								<tbody>
									
									<tr >
										<td colspan="8">Nenhum histórico encontrado</td>
									</tr>									
								</tbody>
							</table>
						</div>
					</div>
					
					
					<div class="tab-pane" id="recebimentos">
						<div class="table-responsive  bw-tabela-simples">
							<table class="table  table-hover" th:with="total=0">
								<thead>
									
								</thead>
								
								<tbody>
									
									<tr>
										<td colspan="12">Nenhum recebimento encontrado</td>
									</tr>									
								</tbody>
							</table>
						</div>
					</div>					
					
				</div>
				
				<br>
														
				<div class="form-group">
					<a target="'_blank'" class="btn  btn-info" href="#">Imprimir</a>
					<a class="btn  btn-default" href="javascript:history.back(1);">Voltar</a>
				</div>
			</form>
		</div>
	</section>

	<th:block layout:fragment="javascript-extra">

	<script>
		$(function() {
			$('.js-abas a').click(function (e) {
				e.preventDefault();
				$(this).tab('show');
			});
		});
	</script>
	</th:block>	
</html>