<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{Financeiro/LayoutFinanceiro}"
	xmlns:sinte="http://sintecoop.ajeffsoft.com"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title>Cadastro de plano de conta</title>
</head>

<body>
	<section layout:fragment="conteudo">
	
		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-10">
						<h1 th:if="${planoConta.novo}">Cadastro de plano de conta</h1>
						<h1 th:unless="${planoConta.novo}">Alterar a conta [[${planoConta.nome}]]</h1>
					</div>
				</div>
			</div>
		</div>
	
		<div class="container-fluid">
	
			<form id="form" method="POST" th:object="${planoConta}" class="form-vertical  js-form-loading"
				th:action="${planoConta.novo} ? @{/financeiro/planoConta/novo} : @{/financeiro/planoConta/{id}(id=${planoConta.id})}">

				<sinte:message/>
		
				<input type="hidden" th:field="*{id}">
				
				<div class="row">
				
					<div class="col-sm-8  form-group" sinte:classforerror="nome">
						<label for="nome" class="control-label">Nome*</label>
						<input id="nome" type="text" class="form-control" th:field="*{nome}" maxlength="50"/>
					</div>
					
					<div class="col-lg-2 col-sm-2  form-group">
						<label for="tipo" class="control-label">Tipo*</label>
						<div>
							<div class = "radio  radio-inline">
								<input type="radio" id="credito" name="tipo" value="CRÉDITO" th:field="*{tipo}">
								<label class="control-label" for="credito">Crédito</label>							
							</div>

							<div class = "radio  radio-inline">
								<input type="radio" id="debito" name="tipo" value="DÉBITO" th:field="*{tipo}">
								<label class="control-label" for="debito">Débito</label>							
							</div>
						</div>
					</div>
					
					<div class="form-group  col-sm-2">
						<label class="control-label">Situação</label>
						<div>
							<input id="situacao" type="checkbox" checked data-toggle="toggle" class="form-control"  data-size="small"
							 data-on="Ativo" data-off="Inativo" data-onstyle="success" data-offstyle="danger" th:field="*{situacao}"/>
						</div>
					</div>
				</div>
				
				<div class="form-group">
						<button class="btn  btn-primary" type="submit">Salvar</button>
						<a class="btn  btn-default" sec:authorize-url="/financeiro/planoConta/pesquisar" th:href="@{/financeiro/planoConta/pesquisar}"> Cancelar e/ou voltar	</a>
				</div>
		
			</form>
		</div>
	        
	</section>
	
	<th:block layout:fragment="javascript-extra">
		<script th:src="@{/javascripts/vendors/bootstrap-toggle.min.js}"></script>
		<script>
			$('#situacao').bootstrapToggle();	
		</script>
	</th:block>
	
</body>
</html>
