<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{Financeiro/LayoutFinanceiro}"
	xmlns:simed="http://simed.ajeffsoft.com"
	xmlns:data="http://www.thymeleaf.org/extras/data"	
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/vendors/bootstrap-toggle.min.css}"/>
	<title>Cadastro de conta secundária</title> 
</head>


	<section layout:fragment="conteudo">

		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-10">
						<h1 th:if = "${planoContaSecundaria.novo}">Cadastro de conta secundária para: [[${planoConta.nome}]]</h1>
						<h1 th:unless = "${planoContaSecundaria.novo}">Alterar a conta: [[${planoContaSecundaria.nome}]]</h1>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid" >
			<form id="form" method="POST" th:object="${planoContaSecundaria}" class="form-vertical  js-form-loading" 
					th:action="${planoContaSecundaria.novo} ? @{/financeiro/planoContaSecundaria/nova} : @{/financeiro/planoContaSecundaria/{id}(id=${planoContaSecundaria.id})}">
			
			<!-- COMPONENTE THYMELEAF PARA MENSAGENS DE ERRO E SUCESSO -->	
			<simed:message/>

			<input type="hidden" th:value="${idPlanoConta}" name="idPlanoConta"/>
			<input type="hidden" th:field="*{id}">

				<div class="row">
					<div class="col-sm-8  form-group">
						<label for="nome">Nome*</label>
						<input id="nome" type="text" class="form-control" th:field="*{nome}" maxlength="30"/>
					</div>
					
					<div class="col-lg-2 col-sm-2  form-group">
						<label for="tipo" class="control-label">Tipo*</label>
						<div>
							<div class = "radio  radio-inline">
								<input type="radio" id="credito" name="tipo" value="FIXO" th:field="*{tipo}">
								<label class="control-label" for="credito">Fixo</label>							
							</div>

							<div class = "radio  radio-inline">
								<input type="radio" id="debito" name="tipo" value="VARIÁVEL" th:field="*{tipo}">
								<label class="control-label" for="debito">Variável</label>							
							</div>
						</div>
					</div>				
										
					<div class="form-group  col-sm-2">
						<label class="control-label">Situação</label>
						<div>
							<input id="situacao" type="checkbox" checked data-toggle="toggle" class="form-control"  data-size="small"
							 data-on="Ativo" data-off="Inativo" data-onstyle="success" data-offstyle="danger" th:field="*{situacao}"/>
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<button class="btn  btn-primary" type="submit">Salvar</button>
					<a class="btn  btn-default" th:href="@{/financeiro/planoConta/pesquisar}"> Cancelar e/ou voltar</a>
					
				</div>
			</form>
			


			<div class="table-responsive  bw-tabela-simples">
				<table class="table  table-hover">
					<thead>
						<tr>
							<th class="table-col-pequena">Nome</th>
							<th class="table-col-pequena">Tipo</th>
							<th class="table-col-grande">Situação</th>
							<th class="table-agencia-col-acoes"></th>
						</tr>
					</thead>
					
					<tbody>
						<tr th:each="contaSecundaria : ${contasSecundarias}">
							<td th:text="${contaSecundaria.nome}"></td>
							<td th:text="${contaSecundaria.tipo}"></td>
							<td>
								<th:block th:if="${contaSecundaria.situacao}">
									<span class="label  label-success">Ativo</span>
								</th:block>

								<th:block th:unless="${contaSecundaria.situacao}">
									<span class="label  label-danger">Inativo</span>
								</th:block>
							</td>
							
							<td class="text-center">
 								<a class="btn  btn-link  btn-xs  js-tooltip" title="Alterar" th:href="@{/financeiro/planoContaSecundaria/alterar/{id}(id=${contaSecundaria.id})}">  
 									<i class="glyphicon glyphicon-pencil"></i> 
 								</a> 
								<a class="btn  btn-link  btn-xs js-tooltip  js-excluir-btn" title="Excluir" href="#"
									data:url="@{/financeiro/planoContaSecundaria/excluir/{id}(id=${contaSecundaria.id})}" data:objeto="${contaSecundaria.nome}" >
									<i class="glyphicon glyphicon-trash"></i>
								</a>
							</td>
						</tr>
						<tr th:if="${#lists.isEmpty(contasSecundarias)}">
							<td colspan="4">Nenhuma conta secundária encontrada</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>

	<th:block layout:fragment="javascript-extra">
		<script th:src="@{/javascripts/validate/contaSecundaria.validate.js}"></script>			
		<script th:src="@{/javascripts/vendors/bootstrap-toggle.min.js}"></script>

		<script>
			$('#situacao').bootstrapToggle();	
		</script>
	
		<script type="text/javascript">
 			$(function (){
 				$('#form').validate();			
 			});  
 		</script> 
	
	</th:block>	
</html>