<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:sinte="http://sintecoop.ajeffsoft.com"
	xmlns:data="http://www.thymeleaf.org/extras/data"	
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>

<title>Detalhe do Plano de Conta</title> 
</head>


	<section layout:fragment="conteudo">

		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-10">
						<h1>Detalhe do plano de conta: [[${planoConta.nome}]]</h1>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid" >
			<form id="form" method="GET" th:object="${planoConta}" class="form-vertical  js-form-loading"
				th:action="@{/financeiro/planoConta/detalhe/{id}(id=${planoConta.id})}">
			
			<input type="hidden" th:field="*{id}">
			
				<div class="row">
					<div class="form-group  col-lg-12">
						<ul class="nav nav-tabs  js-abas">
						  <li role="presentation" class="active"><a href="#dados">Cadastro</a></li>
						  <li role="presentation" ><a href="#secundarias">Contas Secundárias</a></li>
						</ul>
					</div>
				</div>			

				<div class="tab-content">
					<div class="tab-pane active" id="dados">
						<div class="row">
							<div class="col-sm-8  form-group">
								<label for="nome" class="label label-default">Nome</label>
								<h3 id="nome" th:text="${planoConta.nome}"></h3>
							</div>
							
							<div class="col-sm-4  form-group">
								<label for="tipo" class="label label-default">Tipo</label>
								<h3 id="tipo" th:text="${planoConta.tipo}"></h3>
							</div>
						</div>
					</div>
					
					<div class="tab-pane" id="secundarias">
						<div class="table-responsive  bw-tabela-simples">
							<table class="table  table-hover" th:with="total=0">
								<thead>
									<tr>
										<th class="table-col-minima">Nome</th>
										<th class="table-col-minima">Tipo</th>
									</tr>
								</thead>
								
								<tbody>
									<tr th:each="secundaria : ${secundarias}">
										<td th:text="${secundaria.nome}"></td>
										<td th:text="${secundaria.tipo}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				
				<br>
														
				<div class="form-group">
<!-- 					<a target="'_blank'" class="btn  btn-info" th:href="@{/financeiro/planoConta/historico/{id}(id=${planoConta.id})}">Imprimir</a> -->
					<a class="btn  btn-default" href="javascript:history.back(1);">Voltar</a>
				</div>
			</form>
		</div>
	</section>

	<th:block layout:fragment="javascript-extra">

	<script>
		$(function() {
			$('.js-abas a').click(function (e) {
				e.preventDefault();
				$(this).tab('show');
			});
		});
	</script>
	</th:block>	
</html>