<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layout/LayoutSimples}"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
	<title>Simed</title>
</head>

<section layout:fragment="conteudo">
	
	<br>
	<br>
	<div class="container-fluid">
	
	
		<a class = "btn btn-info rounded-pill btn-lg" th:href="@{/geral}">Geral/Configuração</a>
		<br>
		<br>
	
		<a class = "btn btn-success rounded-pill btn-lg" th:href="@{/financeiro}"> Financeiro/Contábil </a>
		<br>
		<br>

		<a class = "btn btn-danger rounded-pill btn-lg" th:href="@{/satisfacao}">Pesquisa de Satisfação</a> <br>
	</div>
</section>

</html>