<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{Cooperado/LayoutCooperado}"
	xmlns:simed="http://simed.ajeffsoft.com"
	xmlns:data="http://www.thymeleaf.org/extras/data"		
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/vendors/bootstrap-toggle.min.css}"/>
	<title>Cadastro de assembléia</title>

</head>


	<section layout:fragment="conteudo">

		<!-- CABEÇALHO DO CADASTRO -->
		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-10">
						<h1 th:if="${assembleia.novo}">Cadastro de assembléia</h1>
						<h1 th:unless="${assembleia.novo}">Alterar a assembléia nº - [[${assembleia.id}]]</h1>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid">


			<form method="POST" th:object="${assembleia}" class="form-vertical  js-form-loading" 
				th:action="${assembleia.novo} ? @{/cooperado/assembleia/novo} : @{/cooperado/assembleia/{id}(id=${assembleia.id})}">
			
				<simed:message/>
			
				<input type="hidden" th:field="*{id}">
				<input type="hidden" th:field="*{eleicao}"/>


				
				<div class="row">
					<div class="form-group  col-lg-12">
						<ul class="nav nav-tabs  js-abas">
						  <li role="presentation" class="active"><a href="#dados">Dados</a></li>
						  <li role="presentation" ><a href="#diretoria">Diretoria</a></li>
						  <li role="presentation" ><a href="#presentes">Lista Presentes</a></li>
						</ul>
					</div>
				</div>


				<div class="tab-content">
					<div class="tab-pane active" id="dados">
						<div class="row">
							<div class="col-sm-2  form-group" simed:classforerror="data">
								<label for="data" class="control-label">Data/Hora*</label>
								<input id="data" type="text" class="form-control  js-date" th:field= "*{data}" autocomplete="off"/>
							</div>
							
							<div class="col-sm-2  form-group" simed:classforerror="tipoAssembleia">
								<label for="tipo" class="control-label">Tipo*</label>
								<select id="tipo" class="form-control" th:field= "*{tipoAssembleia}">
									<option th:each="tipo : ${tipos}" th:value="${tipo}" th:text="${tipo.descricao}"></option>
								</select>
							</div>					
							
							<div class="col-sm-8  form-group"  simed:classforerror="descricao">
								<label for="descricao" class="control-label">Descrição*</label>
								<input id="descricao" type="text" class="form-control" th:field= "*{descricao}" maxlength="100">
							</div>
						</div>

						<div class="row">
							<div>
								<div class="col-sm-12  form-group">
									<label for="resumo" class="control-label">Resumo*</label>
									<textarea id="resumo" class="form-control" rows="20" th:field= "*{resumo}" maxlength="5000"
										placeholder="Deixe um resumo da assembléia."></textarea>
								</div>
							</div>				
						</div>
					</div>
					
					<div class="tab-pane" id="diretoria">
					</div>
					
					<div class="tab-pane" id="presentes">
						<div class="row">
							<div class="form-group  col-sm-5">
								<label class="control-label">Lista de Presentes</label> 
								<div>
									<th:block th:each="presente : ${presentes}">
				  						<div class="checkbox  checkbox-inline"> 
					    					<input type="checkbox" th:value="${presente.id}" th:field="*{presentes}"/>
					    					<label th:text="${presente.medico.nome}" th:for="${#ids.prev('presentes')}">Fulano de Tal</label>
				    					</div>
									</th:block>
								</div>
							</div>
						</div>	
					</div>
				</div>
										
				<div class="form-group">
					<button class="btn  btn-primary" type="submit">Salvar</button>
					<a class="btn  btn-danger" th:href="@{/cooperado/assembleia/pesquisar}"> Voltar	</a>
				</div>
			</form>
		</div>
	</section>
	
	<th:block layout:fragment="javascript-extra">
		<script>
		$(function() {
			$('.js-abas a').click(function (e) {
				e.preventDefault();
				$(this).tab('show');
			});
		});
	</script>
	</th:block>	
</html>