<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{Financeiro/LayoutFinanceiro}"
	xmlns:sinte="http://sintecoop.ajeffsoft.com"
	xmlns:data="http://www.thymeleaf.org/extras/data"	
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
	<title>Detalhe do Fornecedor</title> 
	
	<style>
		.pdfobject-container { height: 500px;}
		.pdfobject { border: 1px solid #666; }
	</style>	
</head>

	<section layout:fragment="conteudo">

		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-10">
						<h1>Detalhe de: [[${fornecedor.fantasia}]]</h1>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid" >
			<form id="form" method="GET" th:object="${fornecedor}" class="form-vertical  js-form-loading"
				th:action="@{/financeiro/fornecedor/detalhe/{id}(id=${fornecedor.id})}"  enctype="multpart/form-data">
			
			<input type="hidden" th:field="*{id}">
			
			
				<div class="row">
					<div class="form-group  col-lg-12">
						<ul class="nav nav-tabs  js-abas">
						  <li role="presentation" class="active"><a href="#dados">Cadastro</a></li>
						  <li role="presentation" ><a href="#contas">Contas do Fornecedor</a></li>
						  <li role="presentation" ><a href="#impostos">Impostos Retidos</a></li>
						</ul>
					</div>
				</div>			

				<div class="tab-content">
					<div class="tab-pane active" id="dados">
						<div class="row">
							<div class="col-sm-7  form-group">
								<label for="nome" class="label label-default">Razão Social</label>
								<h3 id="nome" th:text="${fornecedor.nome}"></h3>
							</div>

							<div class="col-sm-3  form-group">
								<label for="fantasia" class="label label-default">Fantasia</label>
								<h3 id="fantasia" th:text="${fornecedor.fantasia}"></h3>
							</div>

							<div class="col-sm-2  form-group">
								<label for="sigla" class="label label-default">Sigla</label>
								<h3 id="sigla" th:text="${fornecedor.sigla}"></h3>
							</div>

						</div>
						
						<div class="row">
							<div class="col-sm-7  form-group">
								<label for="endereco" class="label label-default">Endereço</label>
								<h3 id="endereco" th:text="${fornecedor.endereco.logradouro}"></h3>
							</div>

							<div class="col-sm-3  form-group">
								<label for="bairro" class="label label-default">Bairro</label>
								<h3 id="bairro" th:text="${fornecedor.endereco.bairro}"></h3>
							</div>

							<div class="col-sm-2  form-group">
								<label for="cep" class="label label-default">CEP</label>
								<h3 id="cep" th:text="${fornecedor.endereco.cep}"></h3>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-7  form-group">
								<label for="cidade" class="label label-default">Cidade/UF</label>
								<h3 id="cidade" th:text="${fornecedor.endereco.cidade.nome} +'/'+${fornecedor.endereco.cidade.uf}"></h3>
							</div>

							<div class="col-sm-3  form-group">
								<label for="telefone" class="label label-default">Telefone</label>
								<h3 id="telefone" th:text="${fornecedor.telefone}"></h3>
							</div>

							<div class="col-sm-2  form-group">
								<label for="celular" class="label label-default">Celular</label>
								<h3 id="celular" th:text="${fornecedor.celular}"></h3>
							</div>
						</div>				

						<div class="row">
							<div class="col-sm-2  form-group">
								<label for="doc" class="label label-default">CPF/CNPJ</label>
								<h3 id="doc" th:text="${fornecedor.documento1}"></h3>
							</div>

							<div class="col-sm-2  form-group">
								<label for="doc1" class="label label-default">PIS/IE</label>
								<h3 id="doc1" th:text="${fornecedor.documento2}"></h3>
							</div>
						</div>				
						
					</div>
					
					<div class="tab-pane" id="contas">
						<div class="table-responsive  bw-tabela-simples">
							<table class="table  table-hover" th:with="total=0">
								<thead>
									<tr>
										<th class="table-col-minima">Emp</th>
										<th class="table-col-minima">Emissão</th>
										<th class="table-col-minima">Vencimento</th>
										<th class="table-col-minima">Nota Fiscal</th>
										<th class="table-col-grande">Histórico</th>
										<th class="table-col-minima">Valor</th>
										<th class="table-col-minima">Parcelas</th>
										<th class="table-col-minima">Data Pago</th>
										<th class="table-col-minima">Status</th>
										<th class="table-col-minima"></th>
									</tr>
								</thead>
								
								<tbody>
									<tr th:each="conta : ${contasPagar}">
										<td th:text="${conta.empresa.sigla}"></td>
										<td th:text="${{conta.dataEmissao}}"></td>
										<td th:text="${{conta.vencimento}}"></td>
										<td th:text="${conta.notaFiscal}"></td>
										<td th:text="${conta.historico}"></td>
										<td th:text="${{conta.valor}}"></td>
										<td th:text="${conta.parcela}+'/'+${conta.totalParcela}"></td>
										<td th:text="${{conta.dataPago}}"></td>
										<td th:text="${conta.status}"></td>
										<td class="text-center">
											<a class="btn  btn-link  btn-xs  js-tooltip view-pdf" th:if="${conta.temUpload}" title="Anexos" data-toggle="modal" data-target="#myModal" 
												data:objeto="${conta.upload}"> 
												<i class="glyphicon glyphicon-upload"></i>
											</a>							
										</td>

									</tr>
									<tr th:if="${#lists.isEmpty(contasPagar)}">
										<td colspan="10">Nenhuma conta a pagar cadastrada</td>
									</tr>									
								</tbody>
							</table>
						</div>
					</div>
					
					
					<div class="tab-pane" id="impostos">
						<div class="table-responsive  bw-tabela-simples">
							<table class="table  table-hover" th:with="total=0">
								<thead>
									<tr>
										<th class="table-col-minima">Emp</th>
										<th class="table-col-minima">Nome</th>
										<th class="table-col-minima">Código</th>
										<th class="table-col-minima">Nota Fiscal</th>
										<th class="table-col-minima">Data Nota</th>
										<th class="table-col-minima">Valor Nota</th>
										<th class="table-col-minima">Vencimento</th>
										<th class="table-col-minima">Valor</th>
										<th class="table-col-minima">Juros</th>
										<th class="table-col-minima">Multas</th>
										<th class="table-col-minima">Total</th>
										<th class="table-col-minima">Status</th>
									</tr>
								</thead>
								
								<tbody>
									<tr th:each="imposto : ${impostos}">
										<td th:text="${imposto.empresa.sigla}"></td>
										<td th:text="${imposto.nome}"></td>
										<td th:text="${imposto.codigo}"></td>
										<td th:text="${imposto.numeroNF}"></td>
										<td th:text="${{imposto.emissaoNF}}"></td>
										<td th:text="${{imposto.valorNF}}"></td>
										<td th:text="${{imposto.vencimento}}"></td>
										<td th:text="${{imposto.valor}}"></td>
										<td th:text="${{imposto.juros}}"></td>
										<td th:text="${{imposto.multa}}"></td>
										<td th:text="${{imposto.total}}"></td>
										<td th:text="${imposto.status}"></td>
									</tr>
									<tr th:if="${#lists.isEmpty(impostos)}">
										<td colspan="12">Nenhum imposto cadastrado</td>
									</tr>									
								</tbody>
							</table>
						</div>
					</div>					
					
				</div>
				
				<br>
														
				<div class="form-group">
					<a target="'_blank'" class="btn  btn-info" th:href="@{/financeiro/fornecedor/historico/{id}(id=${fornecedor.id})}">Imprimir</a>
					<a class="btn  btn-default" href="javascript:history.back(1);">Voltar</a>
				</div>
			</form>
			
<!--  			Modal  -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-body">
						<div id="pdf" class="pdfobject-container  pdfobject"></div>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
			      </div>
			    </div>
			  </div>
			</div>			
			
		</div>
	</section>

	<th:block layout:fragment="javascript-extra">

	<script>
		$(function() {
			$('.js-abas a').click(function (e) {
				e.preventDefault();
				$(this).tab('show');
			});
		});
	</script>
	
	<script type="text/javascript"> 
	 	$(function(){     
	 	    $('.view-pdf').on('click',function(){ 
	 			var botaoClicado = $(event.currentTarget); 
	 	        var objeto = botaoClicado.data('objeto');
	 	        $('#pdf').html("<object data='/simed/financeiro/uploadContaPagar/upload/" + objeto + "'" + " type='application/pdf' width='100%' height='100%'></object>")
	 	    });     
	 	}) 
 	</script>	
	</th:block>	
</html>